//
// Base styles
//

.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border-left: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
  background: #FFFFFF;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.10);
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: $alert-link-font-weight;
}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: $close-font-size + $alert-padding-x * 2;

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}


// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

@each $color, $value in $theme-colors-border {
  .alert-#{$color} {
    @include custom-alert-variant($value);
    @if index(('success', 'warning', 'danger'), $color) != null {
      padding-left: 63px;
      background-image: url('../img/icons/#{$color}.svg');
      background-position: 25px 50%;
      background-repeat: no-repeat;
    }
  }
}
