@font-face {
  font-family: "Magnolia Script";
  src: url('../fonts/magnolia-script.woff2') format('woff2'), url('../fonts/magnolia-script.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

