.form-group-material { 
  position: relative; 
  margin-bottom: 15px;
  padding-top: 15px;

  label {
    color:$label-color-v2; 
    font-size:16px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:0px;
    top:22px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }

  .bar-material { position:relative; display:block; width:100%; }
  .bar-material:before, .bar-material:after {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background: $input-focus-border-color;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }
  .bar-material:before {
    left:50%;
  }
  .bar-material:after {
    right:50%; 
  }
  
  .form-control-material {
    font-size:16px;
    line-height: 22px;
    padding:10px 0px 15px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid $border-color-v2;
  
    &:focus {
      outline: none;
      & ~ .bar-material:before, & ~ .bar-material:after {
        width:50%;
      }
    }
    
    &:focus, &.not-empty {
      & ~ label {
        top: 0px;
        font-size: 13px;
        line-height: 15px;
      }
    }
    
    &:focus {
      & ~ label {
        color: $input-focus-border-color;
      }
    }
  }
}

