.form-control {
  &:disabled,
  &[readonly] {
    background-color: $input-bg;
    opacity: 0.5;
  }

  &:not(:disabled):not([readonly]):hover {
    border-color: $input-hover-border-color;
  }
}

.col-form-label {
  @include media-breakpoint-up(sm) {
      text-align: right;
  }
}

.form-label-80 {
  opacity: 0.8;
}

.form-error-tooltip {
  opacity: 0.95!important;
  
  .tooltip-inner {
    max-width: 80vw;
    border: 1px solid #F19A4F;
    border-radius: 3px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.10);
    color: #000;
    font-size: 14px;
    background-color: rgba(255,212,175,1);
    background-image: url('../img/icons/warning.svg');
    background-position: 14px 50%;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-right: 14px;
  }
  .arrow {
    &::before {
      border-bottom-color: #F19A4F;
    }
    &::after {
      position: absolute;
      content: "";
      border-color: transparent;
      border-style: solid;
      bottom: -1px;
      border-width: 0 0.4rem 0.4rem;
      border-bottom-color: rgba(255,212,175,1);
    }
  }
}

.form-comment {
  font-size: 14px;
  line-height: 1.28;
  color: $text-muted;
  margin-top: 4px;
}

.form-group-mt {
  margin-top: 20px;
}

.input-group-file {
  .input-file-btn {
      position: relative;
      margin-bottom: 16px;
      white-space: nowrap;
      input[type=file] {
          opacity: 0;
          position: absolute;
          left: 0;top: 0;right: 0;bottom: 0;
      }
      &.btn-link {
        .custom-file-input {
          height: auto;
        }
      }
  }
  .input-file-chosen {
      display: flex;
      
      .input-file-name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 14px;
          margin-right: 12px;
      }
  }
}

textarea {
  resize: none;
}