.svg-icon {
    // stroke-width: 0;
    // stroke: currentColor;
    fill: currentColor;
    outline: none;
}

.svg-icon-arrow {
    
}
.btn .svg-icon-arrow {
    margin-top: -1px;

    &:not(.icon-flip) {
        margin-right: -5px;
    }
    &.icon-flip {
        margin-left: -5px;
    }
}

.icon-flip {
    transform: rotate(180deg);
}

[class*=" icon-"], [class^=icon-] {
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
}

[class*=" icon-10"], [class^=icon-10] {
    width: 10px;
    height: 10px;
}

[class*=" icon-12"], [class^=icon-12] {
    width: 12px;
    height: 12px;
}

[class*=" icon-16"], [class^=icon-16] {
    width: 16px;
    height: 16px;
}

[class*=" icon-20"], [class^=icon-20] {
    width: 20px;
    height: 20px;
}

[class*=" icon-24"], [class^=icon-24] {
    width: 24px;
    height: 24px;
}

[class*=" icon-26"], [class^=icon-26] {
    width: 26px;
    height: 26px;
}

[class*=" icon-28"], [class^=icon-28] {
    width: 28px;
    height: 28px;
}

[class*=" icon-32"], [class^=icon-32] {
    width: 32px;
    height: 32px;
}

[class*=" icon-40"], [class^=icon-40] {
    width: 40px;
    height: 40px;
}

[class*=" icon-42"], [class^=icon-42] {
    width: 42px;
    height: 42px;
}

[class*=" icon-44"], [class^=icon-44] {
    width: 44px;
    height: 44px;
}

.icon-notifications {
    background-image: url(../img/icons/menu-notifications.svg);
}

.icon-menu {
    background-image: url(../img/icons/menu-hamburger.svg);
}

.icon-ok {
    background-image: url(../img/icons/ok.svg);
}

.icon-success {
    background-image: url(../img/icons/success.svg);
}

.icon-danger {
    background-image: url(../img/icons/danger.svg);
}

.icon-bell {
    background-image: url(../img/icons/bell.svg);
}

.icon-warning {
    background-image: url(../img/icons/warning.svg);
}

.icon-menu-close {
    background-image: url(../img/icons/menu-close.svg);
}

.icon-external-link {
    background-image: url(../img/icons/external-link.svg);
}

.icon-contact-white {
    background-image: url(../img/icons/contact-white@2x.png);
}

.icon-clock-white {
    background-image: url(../img/icons/clock-white@2x.png);
    vertical-align: text-bottom;
}

.icon-pay-with-bonuses {
    background-image: url(../img/icons/pay-with-bonuses@2x.png);
    vertical-align: text-bottom;
}

.icon-hot {
    background-image: url(../img/icons/hot@2x.png);
    background-size: auto 87.5%;
}

.icon-view-list {
    background-image: url(../img/icons/view-list@2x.png);
}

.icon-view-grid {
    background-image: url(../img/icons/view-grid@2x.png);
}
