.loader {
  background: url(../img/icons/loading@2x.png) 50% 50% no-repeat;
  background-size: contain;
  width: 26px;
  height: 26px;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@mixin loading-overlay {
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    background: url(../img/icons/loading@2x.png) 50% 50% no-repeat;
    background-size: 26px 26px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    z-index: 4;
  }
}
.overlay-loader {
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 3;
  }
  @include loading-overlay();
}
.btn-loader {
  position: relative;
  color: transparent;
  pointer-events: none;
  background: rgba(255,255,255,0.8);
  @include loading-overlay();
  &.btn-secondary, &.btn-danger, &.btn-outline-secondary, &.btn-outline-danger {
    &::after {
      background-image: url(../img/icons/loading-2@2x.png);
    }
  }
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}