.table {
  th {
    color: rgba(0,0,0,0.40);
    font-weight: normal;
  }
}

.table-details-horizontal {
  th {
    text-align: right;
    width: 43%;

    @include media-breakpoint-up(sm) {
      width: 200px;
    }
  }
}