.toast {
  position: relative;
  padding: 18px 20px;
  border-left: $alert-border-width solid transparent;
  background: #FFFFFF;
  opacity: 0.95;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
  line-height: 22rem / 16;
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.toast-success {
  background: rgba(206,246,178,0.9);
  border-left-color: $success-border;
}

.toast-warning {
  background: rgba(255,212,175,0.9);
  border-left-color: $warning-border;
}

.toast-body {
  margin-right: auto;
}

.toast-icon {
  margin-right: 20px;
}

.toast-close {
  opacity: 0.13;
  &:hover, &:active, &:focus {
    opacity: 1;
    box-shadow: none!important;
  }
}