$enable-shadows: true;

$primary: #358000;
$primary-hover: #429F00;
$primary-border: #91C368;
$secondary: #F14F6A;
$secondary-hover: #FF657F;
$secondary-border: #F14F6A;
$green: $primary;
$light-green-bg: #E7F4AB;
$green-bg: #ACD12B;
$red: $secondary;
$success: $primary;
$success-hover: $primary-hover;
$success-border: $primary-border;
$danger: $secondary;
$danger-hover: $secondary-hover;
$danger-border: $secondary-border;
$warning: #F19A4F;
$warning-border: #F19A4F;
$yellow: $warning;
$gray: rgba(0,0,0,0.4);

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  155;

$theme-colors-hover: (
  "primary": $primary-hover,
  "secondary": $secondary-hover,
  "success": $success-hover,
  "danger": $danger-hover
);

$theme-colors-border: (
  "primary": $primary-border,
  "secondary": $secondary-border,
  "success": $success-border,
  "danger": $danger-border,
  "warning": $warning-border
);

$spacers: (
  "8px": (1rem * .5),
  "12px": (1rem * .75)
);

$border-color: #E6E6E6;
$border-color-v2: #EBEEE7;
$label-color-v2: #9a9a9a;
$body-color: #000;
$link-color: $primary;
$link-hover-color: $primary-hover;
$line-height-base: 1.375;
$hr-border-color: $border-color-v2;
$hr-margin-y: 40px;
$grid-gutter-width: 20px;
$form-group-margin-bottom: 12px;
$font-family-literata: "Literata", serif;
$font-family-rubik: "Rubik", sans-serif;
$font-family-base: $font-family-rubik;
$small-font-size: 87.5%;
$transition-base: all .1s ease-in !default;
$paragraph-margin-bottom: 10rem / 16;

$btn-active-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.16);
$btn-padding-y: 11px;
$btn-padding-x: 24px;
$btn-font-size: 18px;
$btn-font-weight: 500;
$btn-border-width: 1px;
$btn-line-height: 1.45;
$btn-disabled-opacity: 1;
$btn-disabled-bg: rgba(153,153,153,0.16);
$btn-disabled-border-color: transparent;
$btn-disabled-color: #fff;
$btn-link-disabled-color: $gray;
$btn-transition: $transition-base;

$input-line-height: 1.375;
$input-padding-y: 0.5625rem; // 9px
$input-padding-x: 0.75rem; // 12px
$input-font-size: 16px;
$input-focus-border-color: $primary;
$input-hover-border-color: $primary;
$input-color: #000;
$input-placeholder-color: $gray;

$headings-font-family: $font-family-literata;
$h1-font-size: 52px;
$h2-font-size: 40px;
$h3-font-size: 32px;
$h4-font-size: 20px;

$text-muted: $gray;

$alert-border-radius: 2px;
$alert-border-width: 3px;
$alert-padding-y: 27rem / 16;
$alert-padding-x: 40rem / 16;

$modal-header-border-color: $border-color-v2;
$modal-content-border-color: $border-color;
$modal-content-border-radius: 2px;
$modal-content-box-shadow-xs: 4px 4px 10px 0 rgba(92,96,90,0.16);
$modal-content-box-shadow-sm-up: $modal-content-box-shadow-xs;
$modal-backdrop-bg: #fff;
$modal-backdrop-opacity: 0.9;
$modal-inner-padding: 22rem / 16;

$table-cell-padding: 10px;

$card-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);
$card-shadow-hover: 1px 1px 40px rgba(0, 0, 0, 0.076);