.catalog-page {
  &__title {
    font-family: $font-family-rubik;
    font-size: 30px;
    line-height: 31px;
    margin-bottom: 12px;
    @include media-breakpoint-up(md) {
      font-size: 40px;
      line-height: 47px;
    }
  }
  &__subtitle {
    @include sm-grey-text;
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      margin-bottom: 24px;
    }
  }
  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      justify-content: space-between;
      border-bottom: 1px solid $hr-border-color;
      padding-bottom: 23px;
      margin-bottom: 40px;
    }
  }
  &__mode {
    display: none;
    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
  &__mode-btn {
    border: 1px solid $border-color;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    box-shadow: none!important;
    &.active {
      background-color: #EAF5B4;
      border-color: #EAF5B4;
    }
    &:hover, &:active, &:focus {
      border-color: $primary;
    }
  }
  &__sort {
    display: flex;
    align-items: center;
  }
  &__sort-label {
    @include sm-grey-text;
  }
  &__sort-select {
    height: 40px;
    margin-left: 18px;
  }
  &__pages-info {
    margin: 30px 0 42px;
    @include media-breakpoint-up(sm) {
      margin-top: 20px;
    }
  }
}