.faq {
  margin-bottom: 100px;
  &__main {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 0;
    font-family: 'Rubik', sans-serif;
  }

  &__aside {
    align-self: baseline;
    position: sticky;
    top: 0;
    min-width: 191px;
    margin-right: 80px;
    padding-top: 110px;
    @include media-breakpoint-up(md) {
      .active {
        position: relative;
        background: transparent !important;
        color: #000 !important;
        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 25%;
          width: 3px;
          height: 22px;
          background: $primary;
          border-radius: 50px 0 0 50px;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &-ttl {
      font-weight: normal;
      font-size: 14px;
      line-height: 15px;
      border: none;
      color: rgba(0, 0, 0, 0.4);
      transition: $transition-base;
      &:hover {
        color: #429f00;
      }
      &:hover,
      &:focus {
        background-color: transparent !important;
      }
    }
  }

  &__content {
    max-width: 670px;
    @include media-breakpoint-up(md) {
      margin-top: 62px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      &-ttl {
        padding-top: 40px;
      }
    }

    &-block::before {
      display: block;
      content: ' ';
      margin-top: -50px;
      height: 50px;
      visibility: hidden;
    }

    &-ttl {
      padding-top: 60px;
      margin-bottom: 30px;
      font-family: 'Rubik', sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      color: #000;
    }
  }

  &__h-menu {
    position: sticky;
    top: 0;
    overflow-x: auto;
    z-index: 2;
    background: #fff;
    margin-top: 10px;
    min-width: 100%;
    @include media-breakpoint-up(md) {
      display: none;
    }
    
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}

.question {
  color: #000;
  font-weight: 400;
  &:hover {
    .question__ttl {
      color: $primary;
      transition: $transition-base;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px 32px;
    border: none !important;
    outline: none !important;
    background: none;
    border-radius: 4px;

    &[aria-expanded='true'] {
      .question {
        &__icon {
          transform: rotate(-45deg);
          transition: transform 0.5s ease;
        }
      }
    }

    &[aria-expanded='false'] {
      .question__icon {
        transform: rotate(0deg);
        transition: transform 0.5s ease;
      }
    }

    &-wrapper {
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.0761582);
      margin-bottom: 12px;
    }
  }

  &__icon {
    margin-left: 15px;
  }

  &__ttl {
    font-size: 16px;
    line-height: 22px;
    text-align: start;
  }

  &__text {
    padding: 0px 32px 52px 32px;
    font-size: 16px;
    line-height: 22px;
  }
}

@include media-breakpoint-down(sm) {
  .page-header_arrow::before {
    display: none;
  }
}
