.landing-ph {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  &::after {
    content: "";
    display: block;
    background: repeat-x center url('../img/footer-line-bg.png');
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8px;
  }



  $xs: 375px;
  @mixin container-header {
    @media (min-width: $xs) {
      padding-left: 32px;
      padding-right: 32px;
    }
    @include media-breakpoint-up(sm) {
      max-width: none;
    }
    @include media-breakpoint-up(md) {
      max-width: none;
    }
    @include media-breakpoint-up(lg) {
      max-width: none;
    }
    @include media-breakpoint-up(xl) {
      max-width: 1376px;
    }
  }
  @mixin container-main {
    @media (min-width: $xs) {
      padding-left: 32px;
      padding-right: 32px;
    }
    @include media-breakpoint-up(sm) {
      max-width: none;
    }
    @include media-breakpoint-up(md) {
      max-width: 648px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 862px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 1154px;
    }
  }
  @mixin container-footer {
    @media (min-width: $xs) {
      padding-left: 32px;
      padding-right: 32px;
    }
    @include media-breakpoint-up(sm) {
      max-width: none;
    }
    @include media-breakpoint-up(md) {
      max-width: 648px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 862px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 1376px;
    }
  }




  &__enter {
    background: #F8F8F8;
  }

  &__header {
    flex: 0;
    padding-top: 16px;

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @include container-header();
    }

    &-logo {
      width: 110px;
      height: 56px;

      @include media-breakpoint-up(lg) {
        width: 132px;
        height: 67px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-btn {
      font-size: 16px;
      line-height: 26px;
      padding: 10px 16px;
      
      @media (min-width: $xs) {
        padding: 10px 22px;
      }

      &-chat {
        border: 1px solid rgba(53, 128, 0, 0.2);
      }

      &-fixed {
        position: fixed;
        top: 16px;
        right: 16px;
        z-index: 2000;

        @include media-breakpoint-down(sm) {
          &.landing-ph__header-btn-chat {
            font-size: 0;
            border-radius: 24px;
            padding-left: 18px;
            padding-right: 18px;
            i {
              margin: 0 !important;
            }
          }  
        }
      }
    }
  }

  &__main {
    flex: 1;
    display: flex;
    height: 100%;
    margin: 32px 0;

    &-container {
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      @include media-breakpoint-up(lg) {
        flex-direction: row;
        align-items: flex-start;
      }
      @include media-breakpoint-up(xl) {
        align-items: center;
      }
      @include container-main();
    }

    &-video-wrap {
      @include media-breakpoint-up(lg) {
        flex: 0 0 264px;
      }
      @include media-breakpoint-up(xl) {
        flex: 0 0 360px;
      }
    }

    &-video {
      position: relative;
      overflow: hidden;
      width: 100%;

      &::before {
        content: "";
        display: block;
        padding-top: 160%;

        @include media-breakpoint-up(sm) {
          padding-top: 100%;
        }

        @include media-breakpoint-up(lg) {
          padding-top: 177.65%;
        }
      }

      &-inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 24px;
        overflow: hidden;
      }

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    &-content {
      margin-top: 24px;

      @include media-breakpoint-up(md) {
        margin-top: 30px;
      }

      @include media-breakpoint-up(lg) {
        margin-top: 0;
        margin-left: 62px;
      }

      @include media-breakpoint-up(xl) {
        margin-left: 82px;
      }

    }

    &-content-title {
      margin-bottom: 16px;
      font-size: 40px;
      line-height: 42px;
      font-weight: bold;

      @include media-breakpoint-up(sm) {
        margin-bottom: 30px;
        font-size: 52px;
        line-height: 54px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 62px;
        line-height: 62px;
      }
    }

    &-content-text {
      margin-bottom: 24px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 30px;
      }
    }

    &-content-comment {
      color: $text-muted;
      font-size: 14px;
    }
  }

  &__footer {
    background: #FCFCFC;
    flex: 0;

    @include media-breakpoint-up(lg) {
      background: transparent;
    }
    
    &-container {
      // padding: 20px 32px;
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;

      @include media-breakpoint-up(lg) {
        flex-direction: column-reverse;
      }
      @include container-footer();
    }

    &-links {
      margin: 4px 0;

      .btn-link {
        margin-right: 20px;
      }
    }

    &-instagram {
      color: $text-muted;
      font-size: 14px;
      line-height: 20px;
      margin-top: 12px;
      margin-bottom: 18px;
      align-self: flex-start;

      @include media-breakpoint-up(lg) {
        align-self: flex-end;
        margin-top: 0;
        margin-bottom: -23px;
      }

      &:hover, &:active, &:focus {
        text-decoration: none;
        color: #CE2F7B;
      }

      img {
        margin-left: 3px;
        margin-right: 2px;
        vertical-align: bottom;
      }
      
    }

    &-address {
      margin: 4px 0;
      font-size: 14px;
      line-height: 20px;
      color: $text-muted;

      @include media-breakpoint-up(lg) {
        padding-right: 163px;
      }
    }

  }
}