.landing-offer {

  &__invite {
    &:hover, &:active, &:focus {
      text-decoration: none;
      opacity: 0.9;
    }
  }
  
  &__back {
    position: relative;
    z-index: 1001;
    font-family: $font-family-literata;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    padding-top: 8px;

    &:hover, &:active, &:focus {
      text-decoration: none;
      opacity: 0.9;
    }
    .emoji {
      font-family: initial;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #999;
  }
  
  &__subtitle-2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: currentColor;
    width: max-content;
    padding-bottom: 12px;
    margin-bottom: 20px;
    position: relative;

    &::before {
      content: "";
      display: block;
      background: $light-green-bg;
      border-radius: 1px;
      height: 4px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__sidebar {
    padding-top: 140px;

    @include media-breakpoint-up(sm) {
      padding-top: 156px;
    }

    &-phone {
      font-size: 28px;
      font-family: $font-family-literata;
      margin-bottom: 32px;
      display: block;
      color: #000;
    }
  }

  &__section-1 {
    text-align: center;
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
    }
    @include media-breakpoint-up(lg) {
      text-align: left;
      height: 619px;
    }

    &-bg {
      @include media-breakpoint-up(lg) {
        position: relative;
        height: 619px;
        margin-bottom: -619px;
        overflow: hidden;
      }

      &-desktop {
        display: none;
        @include media-breakpoint-up(lg) {
          display: block;
          position: absolute;
          left: calc(50% + 16px);
          top: 44px;
          width: 552px;
          height: 575px;
        }
      }
      &-mobile {
        display: block;
        width: calc(100% - 32px);
        max-width: 584px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 6px;
        @include media-breakpoint-up(sm) {
          margin-bottom: 1px;
        }
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }

    &-container {
      @include media-breakpoint-up(lg) {
        position: relative;
        padding-right: 400px;
        padding-top: 140px;
      }
      @include media-breakpoint-up(xl) {
        padding-right: 500px;
      }
    }

    &-title {
      
      margin-bottom: 24px;
      font-size: 28px;
      line-height: 1.15;
      
      @include media-breakpoint-up(md) {
        font-size: 52px;
        margin-bottom: 29px;
      }
      @include media-breakpoint-up(lg) {
        // margin-bottom: 29px;
      }
    }
    
    &-btn {
      margin-top: 20px;
      margin-bottom: 18px;
      // background: #358000;
      // border-radius: 4px;
      line-height: 30px;
      padding-left: 40px;
      padding-right: 40px;

      @include media-breakpoint-up(sm) {
        margin-top: 40px;
      }
      @include media-breakpoint-up(lg) {
        margin-top: 50px;
      }
    }
  }

  &__section-2-wrap {
    margin-bottom: 30px;

    @include media-breakpoint-up(sm) {
      margin-bottom: 54px;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 69px;
    }
  }

  &__section-2 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;

    @include media-breakpoint-up(sm) {
      padding-top: 77px;
      padding-bottom: 80px;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 80px;
      padding-bottom: 77px;
    }

    &-container {

    }

    &-quote {
      font-family: $font-family-literata;
      font-style: italic;
      font-size: 17px;
      max-width: 737px;
      margin: 0 auto 36px;
    }

    &-author {
      text-align: left;
      margin: 0 auto;
      width: 250px;
      overflow: visible;
      
      &-avatar {
        width: 68px;
        height: 68px;
        margin-right: 21px;
        float: left;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }
      &-name {
        margin-bottom: 4px;
        padding-top: 15px;
        font-family: "Magnolia Script";
        font-size: 21px;
        line-height: 24px;
        color: $green;
        white-space: nowrap;
      }
      &-comment {
        color: $text-muted;
        font-size: 14px;
      }
    }
  }

  &__section-3 {
    // text-align: center;

    @include media-breakpoint-up(lg) {
      // text-align: left;
      height: 600px;
    }

    &-bg {
      @include media-breakpoint-up(lg) {
        position: relative;
        height: 600px;
        margin-bottom: -600px;
        overflow: hidden;
      }

      &-img {
        display: block;
        width: 100%;
        max-width: 688px;
        margin: 0 auto 10px;
        @include media-breakpoint-up(sm) {
          margin-bottom: 20px;
        }
        @include media-breakpoint-up(lg) {
          margin: 0;
          display: block;
          position: absolute;
          left: calc(50% + 47px);
          top: 0px;
          width: 662px;
          height: 567px;
          max-width: none;
        }
      }
    }

    &-container {
      padding-bottom: 40px;

      @include media-breakpoint-up(lg) {
        position: relative;
        padding-right: 400px;
        padding-left: 70px;
        padding-top: 68px;
      }
      @include media-breakpoint-up(xl) {
        padding-right: 500px;
        padding-left: 80px;
      }
    }

    &-title {
      margin-bottom: 20px;
      font-size: 32px;
      line-height: 36px;
      font-style: italic;
      max-width: 330px;
      
      @include media-breakpoint-up(md) {
        font-size: 52px;
        line-height: 60px;
        width: 480px;
        max-width: none;
      }
      @include media-breakpoint-up(lg) {
        
      }
    }
    
    &-text {
      margin-bottom: 20px;
      
      @include media-breakpoint-up(md) {
        margin-bottom: 60px;
        width: 480px;
      }
    }
    
    &-preparation {
      margin-bottom: 50px;
      text-align: left;
      
      @include media-breakpoint-up(md) {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }

      &-item {
        @include media-breakpoint-up(md) {
          margin-right: 20px;
          flex: 0 1 260px;
        }
      }

      &-item-title {
         margin-bottom: 20px;
      }
      
      &-item-text {
         margin-bottom: 20px;
      }
    }

    // &-statistics {
    //   max-width: 460px;
    //   margin: 0 auto 50px;
    //   text-align: left;
    //   display: flex;
    //   justify-content: space-around;
    //   align-items: center;

    //   @include media-breakpoint-up(lg) {
    //     margin-left: 0;  
    //     justify-content: flex-start;
    //   }

    //   &-item {
    //     font-size: 14px;
    //     line-height: 20px;
    //     flex: 0;
    //     @include media-breakpoint-up(lg) {
    //       margin-right: 80px;
    //     }
    //   } 
      
    //   &-item-icon {
    //     margin-bottom: 8px;
    //   }

    //   &-item-number {
    //     font-family: $font-family-literata;
    //     font-size: 28px;
    //     line-height: 32px;
    //     margin-bottom: 26px;

    //     @include media-breakpoint-up(sm) {
    //       font-size: 34px;
    //       line-height: 48px;
    //       margin-bottom: 12px;
    //     }
    //   }
    // }
  }

  &__section-4 {
    text-align: center;
    padding-top: 46px;
    padding-bottom: 60px;

    @include media-breakpoint-up(md) {
      padding-bottom: 136px;
      padding-top: 44px;
    }
    @include media-breakpoint-up(lg) {
      padding-bottom: 146px;
      padding-top: 34px;
    }

    &-container {

    }

    &-title {
      font-style: italic;
      margin-bottom: 44px;
      font-size: 32px;
      line-height: 36px;
      text-align: left;
      padding-right: 100px;
      
      @include media-breakpoint-up(sm) {
        text-align: center;
        padding-right: 0;
      }
      
      @include media-breakpoint-up(md) {
        font-size: 52px;
        line-height: 60px;
        margin-bottom: 52px;
      }
    }

    &-steps {
      max-width: 500px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: flex-start;
      }

      &-item {
        font-size: 16px;
        line-height: 22px;
        flex: 0 0 200px;
        margin-bottom: 20px;

        @include media-breakpoint-up(md) {
          margin-bottom: 0;
        }
      } 
      
      &-item-icon {
        margin-bottom: -10px;
      }
      
      &-item-divider {
        display: none;

        @include media-breakpoint-up(md) {
          margin-top: 95px;
          display: block;
        }
      }

      &-item-number {
        font-family: $font-family-literata;
        font-size: 34px;
        line-height: 48px;
        margin-bottom: 11px;
      }
      
      &-item-title {
        font-family: $font-family-literata;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 16px;
      }
    }

  }

  &__section-5 {
    text-align: center;
    margin-bottom: 66px;

    &-bg {
      // background: #5D9238;
      // border-radius: 12px;
      height: 485px;
      // max-width: 1100px;
      margin: 0 auto -485px;
      
      @include media-breakpoint-up(sm) {
        margin: 0 auto -385px;
      }
      // @include media-breakpoint-up(lg) {
      //   width: calc(100% - 80px);
      // }
    }

    &-container {
      padding: 0;
      @include media-breakpoint-up(sm) {
        padding-left: 16px;
        padding-right: 16px;
      }
    }

    &-white {
      position: relative;
      background: #fff;
      border-radius: 2px;
      // border: 10px solid #ACD12C;
      border: 10px solid #ACD12B;
      margin: 0 auto;
      padding: 40px 20px 40px;
      // width: calc(100% - 32px);
      min-height: 500px;
      
      @include media-breakpoint-up(md) {
        padding: 57px 30px 70px;
      }
      @include media-breakpoint-up(lg) {
        padding: 80px 90px 70px;
      }
      @include media-breakpoint-up(xl) {
        padding: 80px 130px 70px;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        right: -10px;
        bottom: -76px;
        width: 74px;
        height: 76px;
        background: center center / contain no-repeat url('../img/corner-bg.svg');
      }

      .col-form-label {
        text-align: left;

        @include media-breakpoint-up(md) {
          text-align: right;
        }
      }

      #submit-button {
        font-size: 17px;
        line-height: 26px;
      }
    }

    &-title {
      font-family: $font-family-rubik;
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 31px;
      
      @include media-breakpoint-up(md) {
        font-size: 40px;
        line-height: 47px;
      }
    }
    
    &-text {
      margin-bottom: 20px;
    }

  }

}