.landing-offer-header {
  height: 80px;
  z-index: 1001;

  @include media-breakpoint-up(sm) {
    height: 96px
  }
  @include media-breakpoint-up(lg) {
    height: 128px
  }

  &_sticky {
    // margin-bottom: 24px;
    position: sticky;
    top: 0;

    .landing-offer-header__wrap {
      height: 56px;
    }
    
    .landing-offer-header__logo-img {
      display: none;
    }
    
    .landing-offer-header__logo-img_sticky {
      display: block;
      width: 46px;
      @include media-breakpoint-up(sm) {
        margin-left: 23px;
      }
      @include media-breakpoint-up(lg) {
        margin-left: 31px;
      }
    }
    
    .landing-offer-header__logo-bonplan {
      display: none;
    }

    .landing-offer-header__phone {
      font-size: 16px;
    }

    .landing-offer-header__btn {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

  &__wrap {
    z-index: 1010;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.08);
    height: 100%;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @include media-breakpoint-up(md) {
      justify-content: space-between;
    }
  }

  &__logo {
    display: block;
    position: relative;
  }

  &__logo-img {
    width: 110px;

    @include media-breakpoint-up(sm) {
      width: 118px;
    }
    @include media-breakpoint-up(lg) {
      width: 132px;
    }

    &_sticky {
      display: none;
    }
  }

  &__logo-bonplace {
    display: block;
  }
  
  &__logo-bonplan {
    display: block;
    position: absolute;
    width: 75px;
    height: 40px;
    right: -75px;
    top: -7px;

    font-size: 11px;
    color: #C9C9C9;
    text-align: left;
    line-height: 1.5;

    @include media-breakpoint-up(sm) {
      top: -13px;
    }
    @include media-breakpoint-up(lg) {
      top: -10px;
    }
  }
  
  &__feedback {
    display: none;

    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: flex-end;
      align-items: center;  
    }
  }

  &__phone {
    margin-right: 20px;
    font-family: $font-family-literata;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1px;
    color: #000;
  }
  
  &__btn {
    font-size: 16px;
    line-height: 1.65;
  }

  &__burger {
    position: absolute;
    left: 24px;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__btn-icon {
    height: 100%;
    display: flex;
    align-items: center;
    // margin-left: 30px;
    border-bottom: 4px solid transparent;
    color: #000;
    transition: $transition-base;

    &:hover {
      opacity: 0.6;
      text-decoration: none;
    }
  }
  
}