.landing-offer-footer {
  position: relative;

  &__container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    padding-top: 80px;
    padding-bottom: 32px;
    position: relative;

    @include media-breakpoint-up(sm) {
      padding-top: 100px;
      padding-bottom: 50px;
    }

    @include media-breakpoint-up(lg) {
      justify-content: space-between;
      padding-top: 140px;
      padding-bottom: 30px;
      height: 808px;
    }
    
  }

  &__contacts {
    @include media-breakpoint-up(lg) {
      width: 50%;
    }

    &-address {
      margin-top: 10px;
      font-family: $font-family-literata;
      font-style: italic;
      font-weight: 500;
      font-size: 32px;
      line-height: 36px;
      
      @include media-breakpoint-up(md) {
        font-size: 50px;
        line-height: 58px;
      }
    }

    &-metro {
      margin-top: 20px;
      
      @include media-breakpoint-up(sm) {
        margin-top: 30px;
      }
    }

    &-link {
      margin-top: 8px;
    }
  }

  &__map {
    height: 354px;
    width: calc(100% + 32px);
    margin: 40px -16px;

    @include media-breakpoint-up(sm) {
      height: 360px;
      width: 100%;
      margin: 50px 0 40px;
    }
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 100px;
      bottom: 0;
      left: 50%;
      right: -40px;
      width: auto;
      height: auto;
      overflow: hidden;
      border-radius: 12px 0 0 0;
      margin: 0;
    }
    
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__copy {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #ebeee7;

    @include media-breakpoint-up(lg) {
      display: block;
      padding: 0;
      border: none;
    }

    &-logo {
      display: block;
      width: 122px;
      font-size: 0;
    }
    
    &-logo-img {
      width: 122px;
    }
    
    &-text {
      margin-top: 10px;
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, .4);
      text-align: center;

      @include media-breakpoint-up(lg) {
        text-align: left;
      }
    }
    
    &-copyright {
      margin-top: 6px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, .4);

      @include media-breakpoint-up(lg) {
        margin-top: 18px;
      }
    }
    
    &-facebook {
      display: inline-block;
      margin-left: 20px;
      font-size: 0;
      width: 32px;
      height: 32px;
      background: url('../img/landing/icons/facebook-circle.svg');
      background-size: contain;
      &:hover {
        background: url('../img/landing/icons/facebook-circle-active.svg');
      }
    }
  }
}