.partner-billing {

  &__title {
    margin-bottom: 23px;

    /* mobile-first - так правильно */
    @include media-breakpoint-up(sm) {
      margin-bottom: 34px;
    }
  }

  &__tabs-scroll-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  &__tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DCDCDC;
  }
  &__tab {
    flex: 1;
    background: #FEFEFE;
    border: 1px solid #DCDCDC;
    padding: 18px 23px;
    margin-right: 8px;
    opacity: 0.5;
    cursor: pointer;
    transition: $transition-base;
    text-align: left;
    margin-bottom: -1px;
    border-radius: 2px 2px 0 0;
    
    @include media-breakpoint-up(sm) {
      margin-right: 16px;
      padding: 18px 31px;
    }
    
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 0.8;
    }
    &.active {
      opacity: 1;
      border-bottom: 1px solid #fefefe;
    }
  }
  &__tab-number {
    font-family: $font-family-literata;
    font-size: 32px;
    line-height: 1.15;
    margin-bottom: 6px;
    white-space: nowrap;
  }
  &__tab-comment {
    font-size: 14px;
    color: $text-muted;
  }
  &__tab-question {
    color: #a2a2a2;
    margin-left: 5px;
    &:hover, &:active, &:focus {
      color: #000;
    }
  }
  &__tab-body {
    padding: 40px 0 60px;
    border-radius: 0 0 2px 2px;
    
    @include media-breakpoint-up(sm) {
      border: 1px solid #DCDCDC;
      border-top: none;
      padding: 40px 32px 60px;
    }

    .custom-table-scroll-container {
      @include media-breakpoint-up(sm) {
        padding-left: 48px;
        padding-right: 48px;
      }
    }
  }

}