.partner-desktop {

  &__title {
    margin-bottom: 25px;
  }

  &__table-container {
    /* обычно лучше делать mobile-first, но в данном случае удобнее наоборот */
    // @include media-breakpoint-down(sm) {
      overflow-x: visible;
      padding-top: 0;
      padding-bottom: 0;
    // }
  }
  
  &__table-container-wrap {
    /* обычно лучше делать mobile-first, но в данном случае удобнее наоборот */
    // @include media-breakpoint-down(sm) {
      width: 100vw;
      margin-left: 50%;
      transform: translateX(-50%);
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    // }
  }

  &__filters {
    margin-bottom: 24px;
    display: flex;
  }

  &__pages-info {
    margin: 16px 0 32px;
    @include media-breakpoint-up(sm) {
      margin: 16px 12px 27px;
    }
  }

  &__statistics {
    display: none;
    @include media-breakpoint-up(md) {
      display: flex;
      max-width: 900px;
      margin-bottom: 25px;
      margin-left: auto;
      margin-right: auto;
    }
  }

}