.partner-auth {
  
  &__container {
    padding-top: 42px;
  }
  
  &__container-inner {
    max-width: 690px;
  }

  &__form {
    max-width: 600px;
    @include media-breakpoint-up(sm) {
      
    }
  }

  &__logo {
    margin-bottom: 40px;
  }

  &__back {
    margin-bottom: 12px;
  }
}