.partner-invoice {

  &__title {
    margin-bottom: 42px;
  }

  &__back {
    margin-bottom: 18px;
  }

  &__status {
    display: inline-block;
    border-radius: 13.5px;
    font-size: 16px;
    font-family: $font-family-rubik;
    padding: 3px 10px;
    font-weight: normal;
    vertical-align: middle;
    color: $text-muted;
    background: $btn-disabled-bg;

    i {
      margin-right: 2px;
      margin-bottom: 2px;
    }
    
    &_success {
      color: $green;
      background: #EEF8DD;
      // svg {
      //   color: #5A9E12;
      // }
    }
  }

}