.policies {
  
  &__page-header {
    margin-bottom: 40px;
  }
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }
  &__side-menu {
    display: none;
    flex: 0 0 263px;

    @include media-breakpoint-up(md) {
      display: block;
      margin-right: 40px;
    }

    @include media-breakpoint-up(lg) {
      margin-right: 100px;
    }
  }
  &__dropdown-menu {
    margin-bottom: 24px;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  &__content {
    flex: 1;
    
    h1, h2, h3, h4, h5, h6 {
      font-family: $font-family-rubik;
      font-style: normal;
      font-weight: 500;
    }

    h2 {
      font-size: 30px;
      line-height: 31px;
      margin-bottom: 20px;

      @include media-breakpoint-up(md) {
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 30px;
      }
    }

    h3 {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 30px;
      margin-top: 40px;
    }
  }
}