.brush-box {
  background: $green-bg;
  overflow: hidden;
  
  @mixin brush-bg {
    position: relative;
    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
      background: url('../img/brush-bg.png') center top repeat-x;
      height: 18px;
      width: 4000px;
    }
  }
  
  @mixin brush-bg-horizontal {
    &::before {
      top: 0; left: 0;
      transform: rotate(180deg);
    }
    &::after {
      bottom: 0; right: 0;
    }
  }
  
  @mixin brush-bg-vertical {
    &::before {
      top: 0; left: -2000px;
      transform: rotate(90deg);
    }
    &::after {
      top: 0; right: -2000px;
      transform: rotate(270deg);
    }
  }
  
  @include brush-bg;
  @include brush-bg-horizontal;
  
  &__inner {
    padding: 40px;
    @include brush-bg;
    @include brush-bg-vertical();
  }

  &_light-green {
    background: $light-green-bg;
  }
}