.custom-modal {
  
  .modal-dialog {
    max-width: 660px;
  }

  .modal-body {
    padding: 25px 22px 40px;

    @include media-breakpoint-up(sm) {
      padding: 37px 50px 40px;
    }
  }

  &__hr {
    margin: 39px 0px 30px;

    @include media-breakpoint-up(sm) {
      margin: 39px -50px 40px;
    }
  }

  &__buttons {
    margin-top: 30px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;

    .btn {
      margin: 10px 0;
    }
    .btn-link {
      padding: 10px 0;
    }

    @include media-breakpoint-up(sm) {
      display: flex;
      flex-flow: row-reverse;
      justify-content: space-between;
      align-items: center;

      .btn-link {
        margin: 0;
      }
    }   
  }
}