.custom-table {
  width: 100%;
  
  &__thead {
    background: #F6F7F5;
    box-shadow: 0px 1px 1px #E9F0E2;
    border-radius: 2px 2px 0px 0px;

    th {
      font-size: 14px;
      color: $text-muted;
      padding: 14px 12px;
      font-weight: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__row {
    &:nth-child(odd) {
      background: #F6F7F5;
    }

    td {
      font-size: 16px;
      border-bottom: #EBEEE7 solid 1px;
      padding: 9px 12px;
    }

    &_header {
      td {
        padding: 18px 12px 10px;
        font-weight: 500;
      }
    }
  }
}

.custom-table-scroll-container {
  /* обычно лучше делать mobile-first, но в данном случае удобнее наоборот */
  // @include media-breakpoint-down(sm) {
    overflow-x: visible;
    padding-top: 0;
    padding-bottom: 0;
  // }
}

.custom-table-scroll-wrap {
  /* обычно лучше делать mobile-first, но в данном случае удобнее наоборот */
  // @include media-breakpoint-down(sm) {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  // }
}