.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FCFCFC;
  border-top: 1px solid #EBEEE7;
  min-height: 58px;
  padding: 22px 24px 25px;

  @include media-breakpoint-up(sm) {
    padding: 18px 25px;
  }

  @include media-breakpoint-up(lg) {
    padding: 18px 40px;
  }

  &__menu {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;

    @include media-breakpoint-up(sm) {
      flex-flow: row nowrap;
    }
    @include media-breakpoint-up(lg) {
      
    }
  }

  &__menu-item {
    font-weight: 500;
    margin: 9px 0;
    @include media-breakpoint-up(sm) {
      margin: 0 15px;
    }
    @include media-breakpoint-up(lg) {
      margin: 0 20px;
    }
  }
  
}