.h-menu {
  display: flex;
  flex-wrap: nowrap;
  padding: 16px 15px;
  .h-menu__ttl:last-child {
    padding-right: 30px !important;
  }
  @include media-breakpoint-down(sm) {
    .active {
      position: relative;
      background: transparent;
      color: #000 !important;
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -16px;
        width: 100%;
        height: 4px;
        border-radius: 3px;
        background: $primary;
      }
    }
  }

  &__ttl {
    font-weight: normal;
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    border: none !important;
    padding: 0px !important;
    margin: 0px 12px;
    & a {
      padding: 0px;
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
