.header {
  position: relative;
  z-index: 1010;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.08);

  &_sticky {
    height: 56px;
    margin-bottom: 24px;
    position: sticky;
    top: 0;

    .header__logo {
      padding: 7px 0;
    }
  }

  &__logo {
    display: block;
    background: #296400;
    height: 100%;
    width: 100px;
    padding: 13px 0;
    text-align: center;
    transition: $transition-base;

    &:hover, &:active, &:focus {
      background: $primary;
      text-decoration: none;
    }

    img {
      height: 100%;
    }
  }

  &__menu {
    display: flex;
    padding-right: 30px;

    @include media-breakpoint-up(lg) {
      padding-right: 40px;
    }
  }

  &__menu-item {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 30px;
    border-bottom: 4px solid transparent;
    color: #000;
    transition: $transition-base;
    font-family: $font-family-literata;

    &:hover, &:active, &:focus {
      color: $primary;
      border-color: $primary;
      text-decoration: none;
    }

    &.router-link-active {
      color: $primary;
      border-color: $primary;
    }
  }
  
  &__menu-item-icon {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 30px;
    border-bottom: 4px solid transparent;
    color: #000;
    transition: $transition-base;

    &:hover {
      opacity: 0.6;
      text-decoration: none;
    }
  }

  &__menu2 {
    display: flex;
    padding-right: 16px;

    @include media-breakpoint-up(sm) {
      padding-right: 30px;
    }
    @include media-breakpoint-up(lg) {
      padding-right: 40px;
    }
  }

  &__menu2-item {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-weight: 500;
  }
  
}