.main {
    flex: 1;

    &_tree {
        position: relative;

        &::after {
            content: "";
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            opacity : 0.16;
            background: url("../img/logo.svg") calc(50% + 556px) 50% no-repeat;
            background-size: 713px 660px;

            @include media-breakpoint-up(sm) {
                display: block;
            }
        }
    }

    &__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__toasts {
        position: absolute;
        right: 20px;
        top: 100px;
        max-width: calc(100vw - 40px);
        width: 390px;
    }
}