.notification {
  padding: 8px 16px 8px;
  text-align: center;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: block;

  @include media-breakpoint-up(sm) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 84px;
    padding-right: 84px;
  }

  &-top {
    border-radius: 0px;
    padding: 10px 16px;
  }

  &-success {
    background: $light-green-bg;
    color: #4d7402!important;
  }
  &-secondary {
    background: $secondary;
    color: #fff!important;
  }
}