.page-header {
  background: $green-bg;
  position: relative;
  padding: 36px 16px 60px;
  text-align: center;

  @include media-breakpoint-up(md) {
    padding: 84px 40px 116px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background: url('../img/brush-bg.png') center top repeat-x;
    height: 18px;
    width: 4000px;
    bottom: 0; right: 0;
  }

  &_arrow {
    &::before {
      content: "";
      display: block;
      position: absolute;
      background: no-repeat center / contain url('../img/arrow-big-down.svg');
      height: 102px;
      width: 20px;
      left: calc(50% - 10px);
      bottom: -50px;
      z-index: 2;
    }
  }

  &__title {
    font-family: $font-family-literata;
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    line-height: 36px;

    @include media-breakpoint-up(md) {
      font-size: 52px;
      line-height: 77px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 19px;
  }
}