.pages-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  // align-content: space-between;
  justify-content: space-around;
  flex-direction: column;
  font-size: 14px;
  color: $text-muted;
  
  @include media-breakpoint-up(sm) {
    justify-content: space-between;
    flex-direction: row;
  }


  &__total {
    margin: 4px 0;
  }

  &__per-page {
    display: flex;
    margin: 4px 0;

    ul {
      display: flex;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0 0 0 12px;
      }
    }
  }
}