.partner-invoices {

  &__custom-table {
    
  }

  &__custom-table-thead {
    /* обычно лучше делать mobile-first, но в данном случае удобнее наоборот */
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__custom-table-row {
    /* обычно лучше делать mobile-first, но в данном случае удобнее наоборот */
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      border-bottom: #EBEEE7 solid 1px;
      padding: 16px 0;

      &:nth-child(odd) {
        background: transparent;
      }

      td {
        padding: 0;
        text-align: left!important;
        border: none;
      }
    }
  }

  &__custom-table-link {
    
  }

  &__custom-table-row-header {
    /* обычно лучше делать mobile-first, но в данном случае удобнее наоборот */
    @include media-breakpoint-down(sm) {
      
      &:nth-child(odd) {
        background: transparent;
      }

      td {
        padding-left: 0;
        padding-right: 0;    
      }
    }
  }

  &__pages-info {
    margin: 16px 0 32px;
    @include media-breakpoint-up(sm) {
      margin: 16px 12px 27px;
    }
  }

}