.rating {
  white-space: nowrap;
  height: 17px;
  
  &__stars {
    display: inline-block;
    height: 17px;
    vertical-align: -3px;
    margin-left: -1.5px;
    margin-right: -1.5px;
  }
  &__star {
    margin: 0 1.5px 0;
    display: inline-block;
    width: 17px;
    height: 17px;
    background: center / 100% 100% no-repeat url('../img/icons/rating/star@2x.png');

    &_full {
      background-image: url('../img/icons/rating/star-full@2x.png');
    }
    &_half {
      background-image: url('../img/icons/rating/star-half@2x.png');
    }
  }

  &__voted {
    @include sm-grey-text;
    display: inline-block;
    margin-left: 8px;
    line-height: 17px;
  }
}