.service-item {
  position: relative;
  background: #FFFFFF;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  box-shadow: $card-shadow;
  transition: box-shadow .1s ease-in;

  &:hover, &:focus, &:active {
    box-shadow: $card-shadow-hover;
  }
  
  &_list {    
    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__color {
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .service-item_list & {
      @include media-breakpoint-up(md) {
        width: 6px;
        height: auto;
        right: auto;
        bottom: 0;
      }
    }
  }
  &__hot{
    width: 19px;
    height: 19px;
    background: #FFD1D3 center / 12px 14px no-repeat url('../img/icons/hot@2x.png');
    border-radius: 1px;
    position: absolute;
    right: 12px;
    top: 24px;
    // position: relative;
    // z-index: 2;

    .service-item_list & {
      @include media-breakpoint-up(md) {
        right: 12px;
        top: 12px;
      }
    }
  }
  &__new{
    padding: 3px 6px;
    background: #F2E1FB;
    border-radius: 1px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #8100C2;
    position: absolute;
    left: 0;
    top: 24px;

    .service-item_list & {
      @include media-breakpoint-up(md) {
        left: 18px;
        top: 12px;
      }
    }
  }
  &__img-container {
    flex: 0 0 127px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 20px;

    .service-item_list & {
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
        flex: 0 0 171px;
        padding: 24px;
      }
    }
  }
  &__img {
    max-width: 123px;
    max-height: 66px;

    .service-item_list & {
      @include media-breakpoint-up(md) {
        
      }
    }
  }
  &__content-container{
    padding: 0 12px;
    text-align: center;
    flex: 1;
    margin-bottom: 20px;

    .service-item_list & {
      @include media-breakpoint-up(md) {
        flex: 1;
        padding: 32px 0 24px;
        text-align: left;
        margin-bottom: 0;
      }
    }
  }
  &__title-container{
    margin-bottom: 8px;
    overflow-wrap: break-word;
  }
  &__title-icon{
    display: none;
    
    .service-item_list & {
      @include media-breakpoint-up(md) {
        display: inline-block;
        width: 21px;
        height: 21px;
        margin-left: 5px;
        // position: relative;
        // z-index: 2;
      }
    }
  }
  &__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #000;

    &:hover, &:active, &:focus {
      color: #000;
      text-decoration: none;
    }
  }
  &__category{
    @include sm-grey-text;
    margin-bottom: 10px;
  }
  &__rating {
    margin-bottom: 18px;
  }
  &__description {
    font-size: 13px;
    line-height: 18px;
  }
  &__features {
    font-size: 13px;
    line-height: 18px;
    margin-top: 5px;
    padding: 5px;
    position: relative;
    z-index: 2;

    .service-item_list & {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
  &__price-container {
    flex: 0;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 40px;
    }

    .service-item_list & {
      @include media-breakpoint-up(md) {
        margin-left: 20px;
        flex: 0 0 251px;
        padding: 32px 12px 12px;

        &::after {
          display: none;
        }
      }
    }
    
  }
  &__prices {
    text-align: center;
  }
  &__price{
    font-weight: 500;
    font-size: 30px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 6px;
  }
  &__price-old{
    text-decoration-line: line-through;
    color: #A2A2A2;
    margin-right: 6px;
  }
  &__price-new{
    color: #F14F6A;
  }
  &__price-text{
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 11px;
    text-transform: lowercase;
  }
  &__promo-till{
    padding: 5px 9px;
    background: #F14F6A;
    border-radius: 4px;
    max-width: 170px;
    width: max-content;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0 auto 20px;
  }
  &__promo-till-icon {
    margin-right: 6px;
  }
  &__bonus-comment {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 42px;
    padding: 5px 9px 7px;
    background: #EAF5B4;
    border-radius: 4px;
    text-align: center;
    font-family: $font-family-literata;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.2px;
    color: #000000;
    margin: 20px 2px -38px;

    .service-item_list & {
      @include media-breakpoint-up(md) {
        margin: 0;
        flex: 0;
      }
    }
  }
}