.services {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  
  @supports (display: grid) {
    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-gap: 20px;
      grid-template-rows: auto;
    }
    @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: 30px;
    }
  }

  &_list {
    max-width: 970px;
    margin: 0 auto;
    display: block;

    .services__service-item {
      margin: 0 0 20px;
    }
  }

  &__service-item {
    flex: 1 1 30%;
    margin: 0 calc(10% / 6) 20px;

    @supports (display: grid) {
      margin: 0;
    }
  }
}