.side-menu {
  

  &__item {
    display: block;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 3px 0 3px 23px;
    position: relative;
    overflow: hidden;
    color: #000;

    &.active {
      border-left-color: $primary;

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background: $primary;
      }
    }

    
  }
}