.sidebar {
    position: fixed;
    z-index: 1000;
    background: $white;
    padding: 100px 20px 20px;
    overflow-y: auto !important; /* fix this through most specific selectors */
    width: 320px;
    bottom: 0;
    top: 0;

    @include media-breakpoint-up(sm) {
        padding-top: 116px;
    }

    &_left {
        left: 0;
        &.slide-enter {
            transform: translateX(-100%);
        }
        &.slide-enter-active {
            transition: transform .2s ease-out;
        }
        &.slide-leave-to {
            transform: translateX(-100%);
        }
        &.slide-leave-active {
            transition: transform .2s ease-in;
        }
    }
    &_right {
        right: 0;
        &.slide-enter {
            transform: translateX(100%);
        }
        &.slide-enter-active {
            transition: transform .2s ease-out;
        }
        &.slide-leave-to {
            transform: translateX(100%);
        }
        &.slide-leave-active {
            transition: transform .2s ease-in;
        }
    }
    
    &__wrap{
        display: flex;
        flex-flow: column nowrap;
    }

}

.sidebar-overlay {
    background: rgba(0,0,0,0.04);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}