.statistics {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: #FEFEFE;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  padding: 35px 10px 45px;

  &__item {
    padding-left: 50px;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 0 14px;

    &_clients {
      background-image: url('../img/icons/clients.svg');
    }
    &_registr {
      background-image: url('../img/icons/registr.svg');
    }
    &_earned {
      background-image: url('../img/icons/earned.svg');
    }
  }

  &__item-number {
    font-family: $font-family-literata;
    font-size: 40px;
    letter-spacing: 0.2px;
    line-height: 48px;
  }

  &__divider {
    background: #F7F7F7;
    border-radius: 1px;
    width: 2px;
    height: 60px;
  }
}