.toasts {
  &__item {
    margin-bottom: 10px;

    &.fade-enter {
      opacity: 0;
      transform: translateY(-100%);
    }
  
    &.fade-enter-active {
      transition: all .2s ease-out;
    }
  
    &.fade-leave-to {
      opacity: 0;
      margin-bottom: -60px;
    }
  
    &.fade-leave-active {
      transition: opacity 0.2s ease-in, margin 0.3s ease-in;
    }
  }
}