.with-column {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    align-items: flex-start;
  }

  &__aside {
    flex-shrink: 0;

    @include media-breakpoint-up(lg) {
      margin-left: 40px;
    }

    &_stick-right {
      @include media-breakpoint-up(lg) {
        width: 310px;
      }
    }
  }
}