<template>
  <div class="bonus">
    <div class="container main__container bonus__container">
      <div class="bonus__main">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto voluptas placeat commodi odit a saepe nesciunt adipisci nemo deleniti atque omnis rem sapiente quia ex quo, nobis doloremque velit provident!
      </div>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo() {
    return {
      title: this.$t('h_bonus'),
    };
  },
};
</script>
