<template>
  <div class="wrapper catalog-page">
    <div class="container main__container catalog-page__container">
      <h1 class="catalog-page__title text-center">{{ $t('h_catalog') }}</h1>
      <div class="catalog-page__subtitle text-center">
        {{ $t('page_summary_service', {
          count: this.results.length,
          totalCount: this.totalCount,
        }) }}
      </div>

      <div class="catalog-page__actions">
        <div class="catalog-page__mode">
          <button class="btn btn-icon catalog-page__mode-btn" :class="{'active': mode === 'grid'}" :title="$t('mode_grid')" @click="setModeGrid()">
            <i class="icon-view-grid icon-20"></i>
          </button>
          <button class="btn btn-icon catalog-page__mode-btn" :class="{'active': mode === 'list'}" :title="$t('mode_list')" @click="setModeList()">
            <i class="icon-view-list icon-20"></i>
          </button>
        </div>
        <div class="catalog-page__sort">
          <span class="catalog-page__sort-label">{{ $t('lbl_sort') }}</span>
          <select class="form-control catalog-page__sort-select" v-model="pages.sort">
            <option value="default">{{ $t('lbl_sort_default') }}</option>
            <option value="popularity">{{ $t('lbl_sort_popularity') }}</option>
            <option value="rating">{{ $t('lbl_sort_rating') }}</option>
            <option value="promo">{{ $t('lbl_sort_promo') }}</option>
          </select>
        </div>
      </div>

      <div class="services" :class="{'services_list': mode === 'list', 'overlay-loader': loading}">
        <div class="service-item services__service-item" :class="{'service-item_list': mode === 'list'}" v-for="service in results" :key="service.id">
          <div class="service-item__color" :style="{backgroundColor: service.color}"></div>
          <div class="service-item__new" v-show="service.new">{{ $t('new') }}</div>
          <div class="service-item__hot" v-show="service.hot" :title="$t('hot')"></div>
          <div class="service-item__img-container" >
            <b-img-lazy v-if="service.logo_url" class="service-item__img" :src="service.logo_url" :alt="service.name" ></b-img-lazy>
          </div>
          <div class="service-item__content-container">
            <div class="service-item__title-container">
              <router-link to="#" class="service-item__title stretched-link">{{service.name}}</router-link>
              <i class="icon-pay-with-bonuses service-item__title-icon" v-show="service.accept_bonuses" :title="$t('accept_bonuses')"></i>
            </div>
            <div class="service-item__category">{{service.main_category_text}}</div>
            <Rating class="service-item__rating" :voted="service.rating_voted" :value="service.rating" />
            <div class="service-item__description">{{ service.short_descr }}</div>
            <button class="btn btn-link service-item__features">{{ $t('service_features') }}</button>
          </div>
          <div class="service-item__price-container">
            <template v-if="service.bonus_type == 2">
              <template v-if="service.promo && service.promo_till > now()">
                <div class="service-item__prices">
                  <span class="service-item__price service-item__price-old">
                    <Currency :number="Number(service.bonus_fixed)" :currency="service.bonus_fixed_currency" :locale="$store.getters.locale" />
                  </span>
                  <span class="service-item__price service-item__price-new">
                    <Currency :number="Number(service.promo_bonus_fixed)" :currency="service.bonus_fixed_currency" :locale="$store.getters.locale" />
                  </span>
                </div>
                <div class="service-item__price-text">{{ $t('bonus') }}</div>
                <div class="service-item__promo-till">
                  <i class="icon-clock-white icon-16 service-item__promo-till-icon"></i>
                  <i18n path="promo_time">
                    <template #time>
                      <TimeBefore :time="service.promo_till" :locale="$store.getters.locale" :timer="true" @timer-end="service.promo = false" />
                    </template>
                  </i18n>
                </div>
              </template>
              <template v-else>
                <div class="service-item__prices">
                  <span class="service-item__price">
                    <Currency :number="Number(service.bonus_fixed)" :currency="service.bonus_fixed_currency" :locale="$store.getters.locale" />
                  </span>
                </div>
                <div class="service-item__price-text">{{ $t('bonus') }}</div>
              </template>
            </template>
            <template v-if="service.bonus_type == 1">
              <template v-if="service.promo && service.promo_till > now()">
                <div class="service-item__prices">
                  <span class="service-item__price service-item__price-old">{{ service.bonus }}%</span>
                  <span class="service-item__price service-item__price-new">{{ service.promo_bonus }}%</span>
                </div>
                <div class="service-item__price-text">{{ $t('bonus') }}</div>
                <div class="service-item__promo-till">
                  <i class="icon-clock-white icon-16 service-item__promo-till-icon"></i>
                  <i18n path="promo_time">
                    <template #time>
                      <TimeBefore :time="service.promo_till" :locale="$store.getters.locale" :timer="true" @timer-end="service.promo = false" />
                    </template>
                  </i18n>
                </div>
              </template>
              <template v-else>
                <div class="service-item__prices">
                  <span class="service-item__price">{{ service.bonus }}%</span>
                </div>
                <div class="service-item__price-text">{{ $t('bonus') }}</div>
              </template>
            </template>
            <div class="service-item__bonus-comment" v-if="service.bonus_comment">{{service.bonus_comment}}</div>
          </div>
        </div>
      </div>

      <div class="pages-info catalog-page__pages-info">
        <div class="pages-info__total">
          {{ $t('page_summary_service', {
            count: this.results.length,
            totalCount: this.totalCount,
          }) }}
        </div>
        <div class="pages-info__per-page">
          {{ $t('per_page') }}
          <ul>
            <li v-for="(perPage, index) in perPageSizes" :key="index">
              <a href="#" @click.prevent="pages.perPage = perPage" v-if="perPage != pages.perPage">{{ perPage }}</a>
              <span v-else>{{ perPage }}</span>
            </li>
          </ul>
        </div>
      </div>

      <b-pagination-nav
        v-if="pageCount > 1"
        v-model="pages.currentPage"
        :number-of-pages="pageCount"
        :limit="4"
        :link-gen="() => ''"
        :last-number="true"
        :first-number="true"
      ></b-pagination-nav>
    </div>
  </div>
</template>

<script>
import { getUnixTime } from 'date-fns';
import ContactForm from '../components/ContactForm.vue';
import { getApiUrl } from '../common/api';
import Currency from '../components/Currency.vue';
import Rating from '../components/Rating.vue';
import TimeBefore from '../components/TimeBefore.vue';
import results from './catalog.json';

export default {
  components: {
    Currency,
    TimeBefore,
    Rating,
  },
  metaInfo() {
    return {
      title: this.$t('h_catalog'),
    };
  },
  data() {
    return {
      mode: 'grid',
      loading: false,
      perPageSizes: [12, 24, 48, 96],
      // results: [],
      results,
      pages: {
        currentPage: 1,
        perPage: 12,
        sort: 'default',
      },
      pageCount: 1,
      totalCount: 0,
    };
  },
  watch: {
    pages: {
      immediate: true,
      deep: true,
      handler() {
        this.loadPage();
      },
    },
  },
  methods: {
    now() {
      return getUnixTime(new Date());
    },
    setModeList() {
      this.mode = 'list';
    },
    setModeGrid() {
      this.mode = 'grid';
    },
    loadPage() {
      // this.loading = true;
      // if (this.results.length > 0) {
      //   this.$el.scrollIntoView(true, { behavior: 'smooth' });
      //   this.results = [];
      // }
      // this.$http
      //   .get(getApiUrl('partner'), {
      //     params: {
      //       page: this.pages.currentPage,
      //       'per-page': this.pages.perPage,
      //       sort: this.pages.sort,
      //       // filter: { ...this.filter },
      //     },
      //   })
      //   .then((response) => {
      //     this.results = response.data;
      //     // this.currentPage = parseInt(response.headers['x-pagination-current-page'], 10);
      //     // this.perPage = parseInt(response.headers['x-pagination-per-page'], 10);
      //     this.pageCount = parseInt(response.headers['x-pagination-page-count'], 10);
      //     this.totalCount = parseInt(response.headers['x-pagination-total-count'], 10);
      //     return true;
      //   })
      //   .finally(() => { this.loading = false; });
    },
  },
};
</script>
