<template>
  <b-modal
    :visible="true"
    :hide-header="true"
    :hide-footer="true"
    @hidden="onHidden()"
    id="change-password-modal"
    modal-class="custom-modal"
  >
    <template v-slot:default="{ cancel }">
      <h3>{{ $t('h_change_password') }}</h3>
      <hr class="custom-modal__hr">
      <form @submit.prevent="setNewPassword()" class="" novalidate>
        <div class="form-group row">
          <label for="input-old-password" class="col-sm-5 col-form-label form-label-80">{{ $t('lbl_current_password') }}</label>
          <div class="col-sm-5">
            <input type="password" v-model="$v.formData.old_password.$model" class="form-control" id="input-old-password" :disabled="loading" @focus="$v.formData.old_password.$reset(); clearResult();" @blur="$v.formData.old_password.$touch()">
            <b-tooltip
              :show="!$v.formData.old_password.required && $v.formData.old_password.$error"
              target="input-old-password"
              triggers="manual"
              placement="bottom"
              custom-class="form-error-tooltip"
            >{{ $t('err_required') }}</b-tooltip>
          </div>
        </div>
        <div class="form-group row">
          <label for="input-password" class="col-sm-5 col-form-label form-label-80">{{ $t('lbl_new_password') }}</label>
          <div class="col-sm-5">
            <input type="password" v-model="$v.formData.new_password.$model" class="form-control" id="input-password" :disabled="loading" @focus="$v.formData.new_password.$reset(); clearResult();" @blur="$v.formData.new_password.$touch()">
            <b-tooltip
              :show="!$v.formData.new_password.required && $v.formData.new_password.$error"
              target="input-password"
              triggers="manual"
              placement="bottom"
              custom-class="form-error-tooltip"
            >{{ $t('err_required') }}</b-tooltip>
            <b-tooltip
              :show="$v.formData.new_password.required && !$v.formData.new_password.format && $v.formData.new_password.$error"
              target="input-password"
              triggers="manual"
              placement="bottom"
              custom-class="form-error-tooltip"
            >{{ $t('err_password_format') }}</b-tooltip>
          </div>
          <div class="offset-sm-5 col-sm-7 form-comment">{{ $t('txt_password_requirements') }}</div>
        </div>
        <div class="form-group row">
          <label for="input-password-repeat" class="col-sm-5 col-form-label form-label-80">{{ $t('lbl_new_password_repeat') }}</label>
          <div class="col-sm-5">
            <input type="password" v-model="$v.formData.new_passwordRepeat.$model" class="form-control" id="input-password-repeat" :disabled="loading" @focus="$v.formData.new_passwordRepeat.$reset(); clearResult();" @blur="$v.formData.new_passwordRepeat.$touch()">
            <b-tooltip
              :show="!$v.formData.new_passwordRepeat.sameAs && $v.formData.new_passwordRepeat.$error"
              target="input-password-repeat"
              triggers="manual"
              placement="bottom"
              custom-class="form-error-tooltip"
            >{{ $t('err_password_repeat') }}</b-tooltip>
          </div>
        </div>
        <div class="custom-modal__buttons">
          <button type="submit" id="submit-button" class="btn btn-primary"
            :class="{'overlay-loader': loading}"
            :disabled="loading"
          >{{ $t('b_change_password') }}</button>
          <b-tooltip
            :show="!!resultError"
            target="submit-button"
            triggers="manual"
            placement="bottom"
            custom-class="form-error-tooltip"
          >{{ resultError }}</b-tooltip>
          <button class="btn btn-link" @click.prevent="cancel()">{{ $t('b_cancel') }}</button>
        </div>
      </form>
    </template>
  </b-modal>
</template>

<script>
import { required, sameAs } from 'vuelidate/lib/validators';
import { password } from '../common/validators';

export default {
  props: {
    backPath: String,
  },
  data: () => ({
    formData: {
      old_password: '',
      new_password: '',
      new_passwordRepeat: '',
    },
    loading: false,
    success: false,
    errors: [],
  }),
  computed: {
    resultError() {
      return this.errors && this.errors.length > 0 && this.errors[0].message;
    },
  },
  validations: {
    formData: {
      old_password: {
        required,
      },
      new_password: {
        required,
        format: password,
      },
      new_passwordRepeat: {
        sameAs: sameAs('new_password'),
      },
    },
  },
  methods: {
    onHidden() {
      this.$router.push(this.backPath);
    },
    async setNewPassword() {
      this.$v.formData.$touch();
      if (!this.$v.$invalid) {
        this.loading = true;
        try {
          await this.$store.dispatch('updateProfile', this.formData);
          this.success = true;
          this.$store.dispatch('showToast', {
            content: this.$t('msg_password_updated'),
            variant: 'success',
            icon: 'icon-ok',
          });
          this.$bvModal.hide('change-password-modal');
        } catch (e) {
          this.errors = e.response.data;
        } finally {
          this.loading = false;
        }
      }
    },
    clearResult() {
      this.success = false;
      this.errors = {};
    },
  },
};
</script>

<style>
</style>
