<template>
  <div class="faq">
    <div class="page-header page-header_arrow">
      <h1 class="page-header__title">{{ $t('h_faq') }}</h1>
      <div class="page-header__text">Our team is happy to answer your sales questions.</div>
    </div>
    <div class="faq__h-menu">
      <b-nav  v-b-scrollspy="{offset: 500, method:'auto'}" class="h-menu">
        <b-nav-item
          :href="'#id-'+qcat.id"
          class="h-menu__ttl"
          v-for="(qcat, i) in results"
          :key="qcat.id"
          @click.prevent="scrollToActiveBlock(i)"
        >{{qcat.name}}</b-nav-item>
      </b-nav>
    </div>
    <div class="container">
      <div class="faq__main">
        <b-list-group v-b-scrollspy="{offset: 500, method:'auto'}" class="faq__aside">
          <b-list-group-item
            :href="'#id-'+qcat.id"
            class="faq__aside-ttl"
            v-for="(qcat, i) in results"
            :key="qcat.id"
            @click.prevent="scrollToActiveBlock(i)"
          >
            {{qcat.name}}
          </b-list-group-item>
        </b-list-group>
        <div class="faq__content">
          <div class="faq__content-block" :id="'id-'+qcat.id" v-for="qcat in results" :key="qcat.id">
            <h3 class="faq__content-ttl">{{qcat.name}}</h3>
            <div class="question__block-wrapper" v-for="q in qcat.questions" :key="q.id">
              <div class="question" role="tab">
                <button class="question__block" v-b-toggle="'question-'+q.id">
                  <div class="question__ttl">{{q.question}}</div>
                  <div class="question__icon">
                    <img src="../img/icons/expand-icon.svg" alt />
                  </div>
                </button>
              </div>
              <b-collapse :id="'question-'+q.id" role="tabpanel">
                <div class="question__text" v-html="q.answer"></div>
              </b-collapse>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import results from './faq.json';

export default {
  metaInfo() {
    return {
      title: this.$t('h_faq'),
    };
  },
  data() {
    return {
      results,
    };
  },
  methods: {
    scrollToActiveBlock(index) {
      document
        .querySelector('.faq__content')
        .childNodes[index].scrollIntoView({ block: 'start', behavior: 'smooth' });
    },
  },
};
</script>
