<template>
  <div class="wrapper landing-offer">
    <router-link to='/' class="notification notification-secondary notification-top landing-offer__back">
      <img svg-inline class="svg-icon svg-icon-arrow icon-flip mr-2 mt-n1" src="../img/icons/arrow.svg" />
      <span class="emoji mx-1">🏡</span> Назад к основному сайту
    </router-link>
    <header class="landing-offer-header" :class="{'landing-offer-header_sticky': $store.state.ui.sticky}">
      <div class="landing-offer-header__wrap">
        <div class="container landing-offer-header__container">
          <div class="landing-offer-header__burger">
            <button class="btn btn-icon landing-offer-header__btn-icon" @click="$store.commit('showSidebar')" v-if="!$store.state.ui.sidebar">
              <i class="icon-menu icon-26"></i>
            </button>
            <button class="btn btn-icon landing-offer-header__btn-icon" @click="$store.commit('hideSidebar')" v-if="$store.state.ui.sidebar">
              <i class="icon-menu-close icon-26"></i>
            </button>
          </div>
          <div class="landing-offer-header__logo">
            <a href="/" class="landing-offer-header__logo-bonplace">
              <img src="../img/logo-text.svg" alt="Bonplace" class="landing-offer-header__logo-img">
              <img src="../img/logo.svg" alt="Bonplace" class="landing-offer-header__logo-img_sticky">
            </a>
            <!-- <div class="landing-offer-header__logo-bonplan">
              Проект<br />
              <img src="../img/logo-bonplan@2x.png" width="75" height="21" alt="">
            </div> -->
          </div>
          <div class="landing-offer-header__feedback">
            <a href="tel:+74951284242" class="landing-offer-header__phone">+7 (495) 128-42-42</a>
            <button class="landing-offer-header__btn btn btn-outline-primary" @click.prevent="scrollToContactForm()">Отправить запрос<img svg-inline class="btn-icon-last svg-icon svg-icon-arrow" src="../img/icons/arrow.svg" /></button>
          </div>
        </div>
      </div>
    </header>
    <a href="#" @click.prevent="scrollToContactForm()" class="notification notification-success landing-offer__invite">Если вы здесь, значит мы ведем переговоры с вами. Не упустите возможность, присоедняйтесь к нам!&nbsp;<img svg-inline class="btn-icon-first svg-icon svg-icon-arrow ml-2" src="../img/icons/arrow.svg" /></a>
    <div class="landing-offer-main">
      <div class="landing-offer__section-1">
        <div class="landing-offer__section-1-bg">
          <img class="landing-offer__section-1-bg-desktop" src="../img/landing/Image-1.png" srcset="../img/landing/Image-1@2x.png 2x" alt="" >
          <img class="landing-offer__section-1-bg-mobile" src="../img/landing/Image-1-mobile.png" srcset="../img/landing/Image-1-mobile@2x.png 2x" alt="" >
        </div>
        <div class="container landing-offer__section-1-container">
          <h1 class="landing-offer__section-1-title">Заработайте в 3 раза больше, получите заказы от БонПлейс</h1>
          <div class="landing-offer__section-1-text">Мы продаем услуги web-сервисов. Сами внедряем и сами поддерживаем.</div>
          <button class="btn btn-primary landing-offer__section-1-btn btn-shadow-2" @click.prevent="scrollToContactForm()">Отправить запрос</button>
          <div class="text-muted small">Нет абонентской платы. Быстрый результат.</div>
        </div>
      </div>
      <div class="brush-box brush-box_light-green landing-offer__section-2-wrap">
        <div class="brush-box__inner landing-offer__section-2">
          <div class="container landing-offer__section-2-container">
            <div class="landing-offer__section-2-quote">
              «Наша команда уже 9 лет успешно продаёт франшизы. Мы уверены, что любой современный бизнес просто немыслим без web-сервисов. Чтобы предложить нашим клиентам комплекс «рабочая бизнес-модель + максимальная автоматизация», мы запустили платформу «БонПлейс». И клиенты благодарны нам!»
            </div>
            <div class="landing-offer__section-2-author">
              <div class="landing-offer__section-2-author-avatar">
                <img src="../img/landing/photo.png" srcset="../img/landing/photo@2x.png 2x" alt="">
              </div>
              <div class="landing-offer__section-2-author-name">Ильгиз Хамзин</div>
              <div class="landing-offer__section-2-author-comment">Руководитель BonPlace</div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="landing-offer__section-3">
        <div class="landing-offer__section-3-bg">
          <img class="landing-offer__section-3-bg-img" src="../img/landing/Image-2.png" srcset="../img/landing/Image-2@2x.png 2x" alt="" >
        </div>
        <div class="container landing-offer__section-3-container">
          <h2 class="landing-offer__section-3-title">Основатель - компания Бонплан, заключающая 1 договор франчайзинга каждые 45 минут </h2>
          <div class="landing-offer__section-3-statistics">
            <div class="landing-offer__section-3-statistics-item">
              <img class="svg-icon svg-icon-arrow landing-offer__section-3-statistics-item-icon" src="../img/landing/icons/1-foundation.svg" />
              <div class="landing-offer__section-3-statistics-item-number">2011</div>
              основание компании
            </div>
            <div class="landing-offer__section-3-statistics-item">
              <img class="svg-icon svg-icon-arrow landing-offer__section-3-statistics-item-icon" src="../img/landing/icons/2-finished.svg" />
              <div class="landing-offer__section-3-statistics-item-number">400+</div>
              завершено проектов
            </div>
            <div class="landing-offer__section-3-statistics-item">
              <img class="svg-icon svg-icon-arrow landing-offer__section-3-statistics-item-icon" src="../img/landing/icons/3-contracts.svg" />
              <div class="landing-offer__section-3-statistics-item-number">9000+</div>
              заключено договоров
            </div>
          </div>
          <a href="https://bonplan.ru" target="_blank" class="btn btn-outline-primary landing-offer__section-3-btn">Больше о Бонплане<img svg-inline class="btn-icon-last svg-icon svg-icon-arrow" src="../img/icons/arrow.svg" /></a>
        </div>
      </div> -->
      <div class="landing-offer__section-3">
        <div class="landing-offer__section-3-bg">
          <img class="landing-offer__section-3-bg-img" src="../img/landing/Image-3.png" srcset="../img/landing/Image-3@2x.png 2x" alt="" >
        </div>
        <div class="container landing-offer__section-3-container">
          <h2 class="landing-offer__section-3-title">Стабильный поток клиентов</h2>
          <div class="landing-offer__section-3-text">Мы на своём опыте знаем, насколько web-сервисы могут облегчить ведение бизнеса. И можем профессионально донести эти знания до целевой аудитории (более 500k предпринимателей в месяц!), подключая сильных менеджеров и надежных партнеров.</div>
          <div class="landing-offer__section-3-preparation">
            <div class="landing-offer__section-3-preparation-item">
              <div class="landing-offer__subtitle-2 landing-offer__section-3-preparation-item-title">Сильные менеджеры</div>
              <div class="landing-offer__section-3-preparation-item-text">
                Продажей web-сервисов у нас занимаются только самые талантливые и эффективные менеджеры, прошедшие специальное обучение.
              </div>
            </div>
            <div class="landing-offer__section-3-preparation-item">
              <div class="landing-offer__subtitle-2 landing-offer__section-3-preparation-item-title">Надежные партнеры</div>
              <div class="landing-offer__section-3-preparation-item-text">
                В поиске клиентов нам помогают и наши многочисленные партнеры, работающие в самых разных сферах по всему СНГ.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="landing-offer__section-4">
        <div class="container landing-offer__section-4-container">
          <h2 class="landing-offer__section-4-title">Как начать зарабатывать?</h2>
          <div class="landing-offer__section-4-steps">
            <div class="landing-offer__section-4-steps-item">
              <img class="landing-offer__section-4-steps-item-icon" src="../img/landing/icons/step-1.png" srcset="../img/landing/icons/step-1@2x.png 2x" alt="" >
              <div class="landing-offer__section-4-steps-item-number">1</div>
              <div class="landing-offer__section-4-steps-item-title">Подписать договор</div>
              <div class="landing-offer__section-4-steps-item-text">и прислать скан-копии</div>
            </div>
            <img class="landing-offer__section-4-steps-item-divider" src="../img/landing/icons/arrow-decor-1.svg" />
            <div class="landing-offer__section-4-steps-item">
              <img class="landing-offer__section-4-steps-item-icon" src="../img/landing/icons/step-2.png" srcset="../img/landing/icons/step-2@2x.png 2x" alt="" >
              <div class="landing-offer__section-4-steps-item-number">2</div>
              <div class="landing-offer__section-4-steps-item-title">Разместить пиксель</div>
              <div class="landing-offer__section-4-steps-item-text">на страницах сайта</div>
            </div>
            <img class="landing-offer__section-4-steps-item-divider" src="../img/landing/icons/arrow-decor-2.svg" />
            <div class="landing-offer__section-4-steps-item">
              <img class="landing-offer__section-4-steps-item-icon" src="../img/landing/icons/step-3.png" srcset="../img/landing/icons/step-3@2x.png 2x" alt="" >
              <div class="landing-offer__section-4-steps-item-number">3</div>
              <div class="landing-offer__section-4-steps-item-title">Начать зарабатывать</div>
              <div class="landing-offer__section-4-steps-item-text">на клиентах БонПлейс</div>
            </div>
          </div>
        </div>
      </div>
      <div class="landing-offer__section-5" ref="contact-form">
        <div class="brush-box landing-offer__section-5-bg">
          <div class="brush-box__inner"></div>
        </div>
        <div class="container landing-offer__section-5-container">
          <div class="landing-offer__section-5-white">
            <h2 class="landing-offer__section-5-title">Отправьте нам запрос</h2>
            <div class="landing-offer__section-5-text">
              Пора увеличить ваши продажи!<br>
              Нажав ниже на кнопку «Отправить запрос», вы запускаете машину продаж «БонПлейс»!
            </div>
            <ContactForm />
          </div>
        </div>
      </div>
    </div>

    <footer class="landing-offer-footer">
      <div class="container landing-offer-footer__container">
        <div class="landing-offer-footer__contacts">
          <div class="landing-offer__subtitle">Где нас найти</div>
          <div class="landing-offer-footer__contacts-address">
            Деловой центр «Москва-Сити», башня «Империя», этаж 40
          </div>
          <div class="landing-offer-footer__contacts-metro">
            Москва, Пресненская набережная, д. 6, стр. 2
          </div>
          <a href="https://yandex.ru/maps/-/CCQpITdFxA" target="_blank" class="btn btn-link landing-offer-footer__contacts-link">Открыть на карте</a>
        </div>
        <div class="landing-offer-footer__map">
          <iframe src="https://yandex.ru/map-widget/v1/-/CCQpITdGwD" frameborder="0"
            style="position: relative;"></iframe>
        </div>
        <div class="landing-offer-footer__copy">
          <a href="/" class="landing-offer-footer__copy-logo">
            <img src="../img/logo-text.svg" alt="Bonplace" class="landing-offer-footer__copy-logo-img">
          </a>
          <div class="landing-offer-footer__copy-text">
            <div>Продаем услуги web-сервисов.</div>
            <div>Работаем необычно.</div>
          </div>
          <div class="landing-offer-footer__copy-copyright">
            © 2020 BONPLACE LLC
            <a v-if="$store.getters.config.facebook_url" class="landing-offer-footer__copy-facebook" title="Facebook" :href="$store.getters.config.facebook_url" target="_blank"></a>
          </div>
        </div>
      </div>
    </footer>


    <transition name="slide">
      <div class="sidebar sidebar_left landing-offer__sidebar" v-if="$store.state.ui.sidebar">
        <p>
          Пора увеличить ваши продажи!<br>
          Нажав ниже на кнопку «Отправить запрос», вы запускаете машину продаж «БонПлейс»!
        </p>
        <a href="tel:+74951284242" class="landing-offer__sidebar-phone">+7 (495) 128-42-42</a>
        <button class="btn btn-outline-primary btn-block" @click="$store.commit('hideSidebar'); scrollToContactForm();">Отправить запрос<img svg-inline class="btn-icon-last svg-icon svg-icon-arrow" src="../img/icons/arrow.svg" /></button>
      </div>
    </transition>
    <div class="sidebar-overlay" v-if="$store.state.ui.sidebar" @click="$store.commit('hideSidebar')"></div>
  </div>
</template>

<script>
import ContactForm from '../components/ContactForm.vue';

export default {
  components: { ContactForm },
  metaInfo() {
    return {
      title: this.$t('h_offer'),
    };
  },
  methods: {
    scrollToContactForm() {
      this.$refs['contact-form'].scrollIntoView(true, { behavior: 'smooth' });
    },
  },
};
</script>
