<template>
  <div class="wrapper landing-ph">
    <router-link to='/partner' target="_blank" class="notification notification-top landing-ph__enter d-lg-none">
      Вход для сервисов<img svg-inline class="svg-icon svg-icon-arrow ml-1" style="margin-top: -2px;" src="../img/icons/arrow.svg" />
    </router-link>

    <header class="landing-ph__header">
      <div class="container landing-ph__header-container">
        <a href="/" class="landing-ph__header-logo">
          <img src="../img/logo-text.svg" alt="Bonplace" />
        </a>
        <div class="landing-ph__header-right">
          <router-link to="/ui-kit" class="btn btn-link mr-3 d-none d-sm-inline-block">UI kit</router-link>
          <router-link to="/catalog" class="btn btn-link mr-5 d-none d-sm-inline-block">Все сервисы</router-link>
          <button class="landing-ph__header-btn landing-ph__header-btn-chat btn btn-primary btn-shadow" :class="{'landing-ph__header-btn-fixed': $store.state.ui.sticky}" @click.prevent="openChat()">
            <i class="icon-contact-white icon-26 mr-2"></i>
            Начать чат
          </button>
          <router-link to='/partner' target="_blank" class="landing-ph__header-btn btn btn-outline-primary ml-3 d-none d-lg-inline-block">
            Вход для сервисов
            <img svg-inline class="btn-icon-last svg-icon svg-icon-arrow" src="../img/icons/arrow.svg" />
          </router-link>
        </div>
      </div>
    </header>

    <div class="landing-ph__main">
      <div class="container landing-ph__main-container">
        <div class="landing-ph__main-video-wrap">
          <div class="landing-ph__main-video">
            <div class="landing-ph__main-video-inner">
              <iframe src="https://www.videoask.com/fse0y346p" allow="camera *; microphone *; autoplay *; encrypted-media *;" width="100%" height="600px" style="border: none; border-radius: 24px"></iframe>
            </div>
          </div>
        </div>
        <div class="landing-ph__main-content">
          <h1 class="landing-ph__main-content-title">
            Сервисы для бизнеса по ценам ниже, чем у вас в городе!
          </h1>
          <div class="landing-ph__main-content-text">
            БонПлейс – это маркетплейс сервисов для бизнеса: от интернет-бухгалтерии до программ видеонаблюдения.
          </div>
          <div class="landing-ph__main-content-comment">
            <span class="d-none d-lg-inline">⇠</span> Нужна работа? Подробнее на видео!
          </div>
        </div>
      </div>
    </div>

    <footer class="landing-ph__footer">
      <div class="container landing-ph__footer-container">
        <div class="landing-ph__footer-address">
          Компания «БонПлейс». Адрес: г. Москва, Пресненская набережная, д. 6, стр. 2, этаж 40. Деловой центр «Москва-Сити», башня «Империя», <span class="text-nowrap">тел. <a href="tel:+74951284242" class="text-muted">+7 (495) 128-42-42</a></span>
        </div>
        <a href="https://www.instagram.com/bonplace_com" target="_blank" class="landing-ph__footer-instagram">
          Мы в
          <img class="icon-24" src="../img/icons/social/instagram@2x.png" alt="Instagram">
          Instagram
        </a>
        <div class="landing-ph__footer-links">
          <router-link to="/policies" target="_blank" class="btn btn-link">Правовая информация</router-link>
          <router-link to="/offer" target="_blank" class="btn btn-link">Сервисным компаниям</router-link>
        </div>
        <div class="landing-ph__footer-links">
          <router-link to="/contacts" class="btn btn-link">Контакты</router-link>
          <router-link to="/about" class="btn btn-link">О нас</router-link>
          <router-link to="/work" class="btn btn-link">Как мы работаем</router-link>
          <router-link to="/bonus" class="btn btn-link">Бонусная программа</router-link>
          <router-link to="/faq" class="btn btn-link">Вопросы-Ответы</router-link>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import loadScript from '../common/loadScript';

export default {
  metaInfo() {
    return {
      title: this.$t('h_placeholder'),
    };
  },
  methods: {
    openChat() {
      // eslint-disable-next-line no-undef
      jivo_api.open();
    },
  },
  mounted() {
    if (process.env.NODE_ENV === 'production') {
      // eslint-disable-next-line camelcase
      if (typeof jivo_api === 'undefined') {
        loadScript('//code-ya.jivosite.com/widget/T4TTVnuH5Z');
      }
    }
  },
};
</script>

<style>
  /* jivoside hide buttons */
  .wrap_dfe {
    display: none !important;
  }
  #jvlabelWrap {
    display: none !important;
  }
</style>
