<template>
  <div class="container main__container partner-desktop">
    <div v-if="partner" class="statistics partner-desktop__statistics">
      <div class="statistics__item statistics__item_registr">
        <div class="statistics__item-number">{{ partner.stat_registration }}</div>
        {{ $t('n_registrations', { n: '' }) }}
      </div>
      <div class="statistics__divider"></div>
      <div class="statistics__item statistics__item_clients">
        <div class="statistics__item-number">{{ partner.stat_payment_count }}</div>
        {{ $t('n_payments', { n: '' }) }}
      </div>
      <div class="statistics__divider"></div>
      <div class="statistics__item statistics__item_earned">
        <div class="statistics__item-number">
          <Currency :number="partner.stat_payment_total" :currency="partner.currency" :locale="$store.getters.locale" />
        </div>
        {{ $t('n_earned', { n: '' }) }}
      </div>
    </div>
    <h3 class="partner-desktop__title">{{ $t('h_desktop') }}</h3>
    <div class="partner-desktop__filters">
      <input type="text" class="form-control" v-model="filter.search_id" @change="loadPage()" :placeholder="$t('client_or_transaction_id')">
    </div>
    <div class="partner-desktop__table-container-wrap">
      <div class="container partner-desktop__table-container">
        <table class="custom-table" :class="{'overlay-loader': loading}">
          <tr class="custom-table__thead">
            <th>{{ $t('transaction_time') }}</th>
            <th>{{ $t('transaction_id') }}</th>
            <th>{{ $t('client_id') }}</th>
            <th>{{ $t('activity') }}</th>
            <th class="text-right">{{ $t('actions') }}</th>
          </tr>
          <template v-for="(r, i) in results">
            <tr class="custom-table__row custom-table__row_header" v-if="!results[i-1] || formatDate(results[i-1].created_at) != formatDate(r.created_at)" :key="r.id+'_year'">
              <td colspan="5">{{ formatDate(r.created_at) }}</td>
            </tr>
            <tr class="custom-table__row" :key="r.id">
              <td :data-label="$t('transaction_time')">
                {{ formatTime(r.created_at) }}
              </td>
              <td :data-label="$t('transaction_id')">
                {{ r.id }}
              </td>
              <td :data-label="$t('client_id')">
                {{ r.client_id }}
              </td>
              <td :data-label="$t('activity')">
                <template v-if="r.type == 1">{{ $t('payment') }}</template>
                <template v-else-if="r.type == 2">{{ $t('registration') }}</template>
              </td>
              <td class="text-right" :data-label="$t('actions')">
                <span class="text-muted"><Currency v-if="r.type == 1" :number="r.total" :currency="r.currency" :locale="$store.getters.locale" /></span>
              </td>
            </tr>
          </template>
        </table>
      </div>
    </div>

    <div class="pages-info partner-desktop__pages-info">
      <div class="pages-info__total">
        {{ $t('page_summary_transaction', {
          count: this.results.length,
          totalCount: this.totalCount,
        }) }}
      </div>
      <div class="pages-info__per-page">
        {{ $t('per_page') }}
        <ul>
          <li v-for="(perPage, index) in perPageSizes" :key="index">
            <a href="#" @click.prevent="pages.perPage = perPage" v-if="perPage != pages.perPage">{{ perPage }}</a>
            <span v-else>{{ perPage }}</span>
          </li>
        </ul>
      </div>
    </div>

    <b-pagination-nav
      v-if="pageCount > 1"
      v-model="pages.currentPage"
      :number-of-pages="pageCount"
      :limit="4"
      :link-gen="() => ''"
      :last-number="true"
      :first-number="true"
    ></b-pagination-nav>
  </div>
</template>

<script>
import Currency from '../components/Currency.vue';
import { formatDate, formatTime } from '../common/date';
import { getApiUrl } from '../common/api';

export default {
  components: { Currency },
  metaInfo() {
    return {
      title: this.$t('h_desktop'),
    };
  },
  data() {
    return {
      loading: false,
      perPageSizes: [20, 100, 200],
      results: [],
      pages: {
        currentPage: 1,
        perPage: 20,
        sort: '',
      },
      pageCount: 1,
      totalCount: 0,
      filter: {
        search_id: null,
      },
    };
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
    partner() {
      return this.user && this.user.partner;
    },
  },
  watch: {
    pages: {
      immediate: true,
      deep: true,
      handler() {
        this.loadPage();
      },
    },
  },
  methods: {
    formatDate,
    formatTime,
    loadPage() {
      this.loading = true;
      if (this.results.length > 0) {
        this.$el.scrollIntoView(true, { behavior: 'smooth' });
      }
      this.$http
        .get(getApiUrl('partnerOperation'), {
          params: {
            page: this.pages.currentPage,
            'per-page': this.pages.perPage,
            sort: this.pages.sort,
            filter: { ...this.filter },
          },
        })
        .then((response) => {
          this.results = response.data;
          // this.currentPage = parseInt(response.headers['x-pagination-current-page'], 10);
          // this.perPage = parseInt(response.headers['x-pagination-per-page'], 10);
          this.pageCount = parseInt(response.headers['x-pagination-page-count'], 10);
          this.totalCount = parseInt(response.headers['x-pagination-total-count'], 10);
          return true;
        })
        .finally(() => { this.loading = false; });
    },
  },
};
</script>
