<template>
  <div class="container main__container with-column">
    <div class="with-column__content">
      <h2>{{ $t('h_settings') }}</h2>
      <p>{{ $t('txt_settings') }}</p>
      <br>
      <p><b>{{ $t('h_profile_data') }}</b></p>
      <table class="table table-borderless table-details-horizontal">
        <tr v-if="user.partner">
          <th scope="row">{{ $t('lbl_contract') }}</th>
          <td>{{user.partner.contract}}</td>
        </tr>
        <tr v-if="user.partner">
          <th scope="row">{{ $t('lbl_your_company_name') }}</th>
          <td>{{user.partner.name}}</td>
        </tr>
        <tr>
          <th scope="row">{{ $t('lbl_your_email') }}</th>
          <td>{{user.email}}</td>
        </tr>
        <tr v-if="user.partner">
          <th scope="row">{{ $t('lbl_country') }}</th>
          <td>{{user.partner.country_text}}</td>
        </tr>
        <tr v-if="user.partner">
          <th scope="row">{{ $t('lbl_currency') }}</th>
          <td>{{user.partner.currency}}</td>
        </tr>
        <tr>
          <th scope="row">&nbsp;</th>
          <td><button class="btn btn-link" @click="logOut()">{{ $t('b_logout') }}</button></td>
        </tr>
      </table>
      <br>
      <p><b>{{ $t('h_change_password') }}</b></p>
      <table class="table table-borderless table-details-horizontal">
        <tr>
          <th scope="row">{{ $t('lbl_password') }}</th>
          <td>
            &lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;
            <br>
            <router-link append to="change-password" class="btn btn-link">{{ $t('b_change_password') }}</router-link>
            <router-view></router-view>
          </td>
        </tr>
      </table>
    </div>
    <div v-if="user.partner" class="gray-box with-column__aside with-column__aside_stick-right">
      <img src="@/img/icons/money.svg" alt="" class="svg-icon icon-40 mb-12px">
      <div class="mb-2"><b>{{ $t('h_service_fee') }}</b></div>
      {{ $t('txt_service_fee', { n: Number(user.partner.fee) }) }}
    </div>
  </div>
</template>

<script>
export default {
  metaInfo() {
    return {
      title: this.$t('h_settings'),
    };
  },
  computed: {
    user() {
      return this.$store.getters['user'];
    },
  },
  methods: {
    async logOut() {
      await this.$store.dispatch('logout');
      await this.$router.push({ path: '/partner/auth/login' });
    },
  },
};
</script>
