<template>
  <div class="container main__container partner-billing">
    <h3 class="partner-billing__title">{{ $t('h_billing') }}</h3>

    <div class="partner-billing__tabs">
      <div v-if="statInvoices" class="partner-billing__tab" @click="activeTab = 'invoices'" :class="{active: activeTab == 'invoices'}">
        <div v-if="statInvoices.not_paid" class="partner-billing__tab-number">
          <Currency :number="Number(statInvoices.not_paid)" :currency="statInvoices.currency" :locale="$store.getters.locale" />
        </div>
        <div v-else class="partner-billing__tab-number">{{ $t('payments') }}</div>
        <div class="partner-billing__tab-comment">
          {{ $t('partner_total') }}
        </div>
      </div>
      <div v-if="statOperations" class="partner-billing__tab" @click="activeTab = 'payments'" :class="{active: activeTab == 'payments'}">
        <div v-if="statOperations.last_payments" class="partner-billing__tab-number">
          <Currency :number="Number(statOperations.last_payments)" :currency="statOperations.currency" :locale="$store.getters.locale" />
        </div>
        <div v-else class="partner-billing__tab-number">{{ $t('no_data') }}</div>
        <div class="partner-billing__tab-comment">
          {{ $t('last_payments') }}
          <a v-if="$store.getters.config.payment_help_url" :href="$store.getters.config.payment_help_url" class="partner-billing__tab-question" target="_blank" :title="$t('payment_help_tip')"><img svg-inline class="svg-icon" src="../img/icons/question.svg" /></a>
        </div>
      </div>
    </div>
    <div class="partner-billing__tab-body" v-show="activeTab == 'invoices'">
      <PartnerInvoicesTable />
    </div>
    <div class="partner-billing__tab-body" v-show="activeTab == 'payments'">
      <PartnerPaymentsTable :last_payments="true" />
    </div>
  </div>
</template>

<script>
import PartnerPaymentsTable from '../components/PartnerPaymentsTable.vue';
import PartnerInvoicesTable from '../components/PartnerInvoicesTable.vue';
import Currency from '../components/Currency.vue';
import { formatDayMonth, formatYear } from '../common/date';
import { getApiUrl } from '../common/api';

export default {
  components: {
    Currency,
    PartnerPaymentsTable,
    PartnerInvoicesTable,
  },
  metaInfo() {
    return {
      title: this.$t('h_billing'),
    };
  },
  data() {
    return {
      activeTab: 'invoices',
      statInvoices: null,
      statOperations: null,
    };
  },
  methods: {
    loadStats() {
      this.$http
        .get(getApiUrl('partnerInvoiceStats'), {})
        .then((response) => {
          this.statInvoices = response.data;
        });
      this.$http
        .get(getApiUrl('partnerOperationStats'), {})
        .then((response) => {
          this.statOperations = response.data;
        });
    },
  },
  mounted() {
    this.loadStats();
  },
};
</script>
