<!-- http://demo.webdesign.ru.net/adaptivetable/ -->

<template>
  <div class="container main__container partner-invoice">
    <div class="partner-invoice__back">
      <router-link :to="{ name: 'partner-invoice-list' }" class="btn btn-link">
        <img svg-inline class="btn-icon-first svg-icon svg-icon-arrow icon-flip" src="@/img/icons/arrow.svg" />{{ $t('b_billing') }}
      </router-link>
    </div>
    <h3 class="partner-invoice__title">
      {{ title }}
      <div v-if="invoice && invoice.status == 1" class="partner-invoice__status">{{ $t('not_paid') }}</div>
      <div v-else-if="invoice && invoice.status == 2" class="partner-invoice__status partner-invoice__status_success"><i class="icon-success icon-10"></i> {{ $t('paid') }}</div>
    </h3>
    <PartnerPaymentsTable :invoice_id="id" />
  </div>
</template>

<script>
import Currency from '../components/Currency.vue';
import PartnerPaymentsTable from '../components/PartnerPaymentsTable.vue';
import { formatDayMonth, formatDate } from '../common/date';
import { formatCurrency } from '../common/currency';
import { getApiUrl } from '../common/api';

export default {
  components: {
    // Currency,
    PartnerPaymentsTable,
  },
  metaInfo() {
    return {
      title: this.title,
    };
  },
  data() {
    return {
      invoice: null,
    };
  },
  computed: {
    id() {
      return Number(this.$route.params.id);
    },
    title() {
      return this.invoice && this.$t('h_invoice_details', {
        id: this.invoice.id,
        date: formatDate(this.invoice.created_at),
        sum: formatCurrency(this.invoice.total, this.invoice.currency, this.$store.getters.locale),
      });
    },
  },
  mounted() {
    this.loadInvoice();
  },
  methods: {
    formatDayMonth,
    formatDate,
    loadInvoice() {
      this.$http
        .get(getApiUrl('partnerInvoice'), { params: { filter: {
          id: this.id,
        } } })
        .then((response) => {
          this.invoice = response.data && response.data[0];
        });
    },
  },
};
</script>
