<template>
  <div class="policies">
    <div class="page-header page-header_arrow policies__page-header">
      <h1 class="page-header__title">{{ $t('h_policies') }}</h1>
      <div class="page-header__text">{{ $t('h_official_page') }}</div>
    </div>
    <div class="container main__container policies__container">
      <div v-if="loading" class="loader mx-auto"></div>
      <div v-else class="policies__main">
        <select class="policies__dropdown-menu form-control" @change="$router.push({name: 'policy', params: { slug: $event.target.value }})">
          <option v-for="p in pages" :key="p.slug" :value="p.slug" :selected="$route.params.slug == p.slug">{{ p.title }}</option>
        </select>
        <div class="side-menu policies__side-menu">
          <router-link v-for="p in pages" :key="p.slug" :to="{ name: 'policy', params: { slug: p.slug }}" class="side-menu__item" active-class="active" :exact="true">{{ p.title }}</router-link>
        </div>
        <div v-if="page" class="policies__content">
          <h2 class="policies__title">{{ page.title }}</h2>
          <div v-html="page.body"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { formatDate } from '../common/date';
import { getApiUrl } from '../common/api';
import results from './policies.json';

export default {
  metaInfo() {
    return {
      title: this.page ? this.page.title : this.$t('h_policies'),
    };
  },
  data() {
    return {
      pages: [],
      loading: false,
      initialized: false,
    };
  },
  computed: {
    page() {
      return this.pages.find(p => p.slug === this.$route.params.slug);
    },
  },
  watch: {
    initialized(newVal, oldVal) { this.checkNotFound(); },
    '$route.params.slug': {
      immediate: true,
      handler(newVal, oldVal) { this.checkNotFound(); },
    },
  },
  methods: {
    checkNotFound() {
      if (!this.page && this.initialized) {
        this.$router.push('/');
      }
    },
    load() {
      this.pages = results;
      // this.loading = true;
      // const params = { filter: { view: 'policies' } };
      // this.$http
      //   .get(getApiUrl('page'), { params })
      //   .then((response) => {
      //     this.pages = response.data;
      //   })
      //   .finally(() => {
      //     this.loading = false;
      //     this.initialized = true;
      //   });
    },
  },
  mounted() {
    this.load();
  },
};
</script>
