<template>
  <div class="container main__container">
    <h2>{{ $t('h_service_rules') }}</h2>
    <br>
    <div v-if="loading" class="loader"></div>
    <div v-else-if="page">
      <div class="text-muted small">
        {{ $t('publish_date') }}
        {{ formatDate(page.created_at) }}
      </div>
      <br>
      <div v-html="page.body"></div>
    </div>
  </div>
</template>

<script>
import { formatDate } from '../common/date';
import { getApiUrl } from '../common/api';

export default {
  metaInfo() {
    return {
      title: this.$t('h_service_rules'),
    };
  },
  data() {
    return {
      page: null,
      loading: false,
    };
  },
  methods: {
    formatDate,
    load() {
      this.loading = true;
      const slug = 'rules';
      this.$http
        .get(getApiUrl('page', slug), {})
        .then((response) => {
          this.page = response.data;
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
  mounted() {
    this.load();
  },
};
</script>
