<template>
  <div class="wrapper">
    <div class="container">
      <h1>UI kit</h1>
      <br><br>
      <div class="row">
        <div class="col-6">
          <h3>Buttons</h3>
          <hr>
          <div class="p">
            <h5>.btn-primary</h5>
            <button class="btn btn-primary mr-2">Button</button>
            <button class="btn btn-primary mr-2" disabled>Button</button>
          </div>
          <div class="p">
            <h5>.btn-outline-primary</h5>
            <button class="btn btn-outline-primary mr-2">Button</button>
            <button class="btn btn-outline-primary mr-2" disabled>Button</button>
          </div>
          <div class="p">
            <h5>.btn-secondary</h5>
            <button class="btn btn-secondary mr-2">Button</button>
            <button class="btn btn-secondary" disabled>Button</button>
          </div>
          <div class="p">
            <h5>.btn-outline-secondary</h5>
            <button class="btn btn-outline-secondary mr-2">Button</button>
            <button class="btn btn-outline-secondary" disabled>Button</button>
          </div>
          <div class="p">
            <h5>.btn-icon-last</h5>
            <div class="mb-2">
              <button class="btn btn-outline-primary">Button<img svg-inline class="btn-icon-last svg-icon svg-icon-arrow" src="../img/icons/arrow.svg" /></button>
            </div>
          </div>
          <div class="p">
            <h5>.btn-shadow</h5>
            <button class="btn btn-primary btn-shadow mr-2">Button</button>
            <button class="btn btn-secondary btn-shadow mr-2">Button</button>
          </div>
          <div class="p">
            <h5>.btn-shadow-2</h5>
            <button class="btn btn-primary btn-shadow-2 mr-2">Button</button>
            <button class="btn btn-secondary btn-shadow-2 mr-2">Button</button>
          </div>
          <div class="p">
            <h5>.btn-loader</h5>
            <button class="btn btn-primary btn-loader mr-2">Button</button>
            <button class="btn btn-secondary btn-loader">Button</button>
          </div>
          <br><br>

          <h3>Loading</h3>
          <hr>
          <div class="p">
            <h5>.loader</h5>
            <div class="loader"></div>
          </div>
          <div class="p">
            <h5>.overlay-loader</h5>
            <div class="overlay-loader">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nesciunt voluptatem incidunt voluptate adipisci! Minima dolorem vitae laudantium, illo iure quasi inventore sapiente magni voluptatem, explicabo cum odit repellat accusantium.
              </p>
            </div>
          </div>
          <br><br>

          <h3>Forms</h3>
          <hr>
          <div class="p">
            <h5>.form-control</h5>
            <p>
              <input class="form-control" type="text" placeholder="Text" />
            </p>
            <p>
              <textarea class="form-control" placeholder="Text"></textarea>
            </p>
          </div>
          <div class="p">
            <h5>.form-control:disabled</h5>
            <input class="form-control" disabled type="text" placeholder="Text" />
          </div>
          <br><br>

          <h3>Forms Material</h3>
          <hr>
          <div class="p">
            <h5>.form-control-material</h5>
            <div class="form-group-material">
              <input class="form-control-material" type="text">
              <span class="bar-material"></span>
              <label>Email</label>
            </div>
            <div class="form-group-material">
              <textarea class="form-control-material"></textarea>
              <span class="bar-material"></span>
              <label>Text</label>
            </div>
          </div>
        </div>
        <div class="col-6">
          <h3>Links</h3>
          <hr>
          <p>
            <a href="#">Regular link</a>
          </p>
          <p>
            <a href="#" class="small">Small link</a>
          </p>
          <p>
            <a href="#" class="btn btn-link">Button link</a>
          </p>
          <p>
            <a href="#" class="btn btn-link disabled">Disabled link</a>
          </p>
          <p>
            <a href="#" class="btn btn-link"><img svg-inline class="btn-icon-first svg-icon svg-icon-arrow icon-flip" src="../img/icons/arrow.svg" />Button link icon</a>
          </p>
          <br><br>

          <h3>Icons</h3>
          <hr>
          <div class="p">
            <h5>class icons</h5>
            <i class="icon-menu icon-26"></i>
            <i class="icon-menu-close icon-26"></i>
            <div class="d-inline-block" style="background: #000;">
              <i class="icon-contact-white icon-26"></i>
            </div>
          </div>
          <div class="p">
            <h5>inline svg icons</h5>
            <img svg-inline class="svg-icon svg-icon-arrow" src="../img/icons/arrow.svg" />
            <img svg-inline class="svg-icon svg-icon-arrow icon-flip" src="../img/icons/arrow.svg" />
            <div class="code" v-text="buttonIconHtml"></div>
          </div>
          <br><br>

          <h3>Text</h3>
          <hr>
          <div class="p">
            <h5>Normal</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nulla corporis officia in magnam earum enim nihil, doloribus vero nesciunt fugiat pariatur repudiandae perspiciatis, praesentium laborum maiores cumque quis sequi!</p>
          </div>
          <div class="p">
            <h5>.text-muted.small</h5>
            <p class="small text-muted">Title text</p>
          </div>
          <div class="p">
            <h5>.text-success.text-center</h5>
            <p class="text-success text-center">Title text</p>
          </div>
          <br><br>

          <h3>Headers</h3>
          <hr>
          <div class="p">
            <h1>H1 title</h1>
            <h2>H2 title</h2>
            <h3>H3 title</h3>
            <h4>H4 title</h4>
          </div>
          <br><br>

          <h3>Notifications</h3>
          <hr>
          <div class="p">
            <h5>.notification.notification-success</h5>
            <a href="#" class="notification notification-success">Если вы здесь, значит мы ведем переговоры с вами. Не упустите возможность, присоедняйтесь к нам!&nbsp;<img svg-inline class="btn-icon-first svg-icon svg-icon-arrow ml-2" src="../img/icons/arrow.svg" /></a>
          </div>
          <div class="p">
            <h5>.notification.notification-secondary</h5>
            <a href="#" class="notification notification-secondary">Если вы здесь, значит мы ведем переговоры с вами. Не упустите возможность, присоедняйтесь к нам!&nbsp;<img svg-inline class="btn-icon-first svg-icon svg-icon-arrow ml-2" src="../img/icons/arrow.svg" /></a>
          </div>
          <div class="p">
            <h5>.toast.toast-success</h5>
            <div class="toast toast-success" role="alert" aria-live="assertive" aria-atomic="true">
              <i class="toast-icon icon-16 icon-ok"></i>
              <div class="toast-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit
              </div>
              <button class="btn btn-icon toast-close">
                <i class="icon-menu-close icon-16"></i>
              </button>
            </div>
          </div>
          <div class="p">
            <h5>.toast.toast-warning</h5>
            <div class="toast toast-warning" role="alert" aria-live="assertive" aria-atomic="true">
              <i class="toast-icon icon-16 icon-danger"></i>
              <div class="toast-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit
              </div>
              <button class="btn btn-icon toast-close">
                <i class="icon-menu-close icon-16"></i>
              </button>
            </div>
          </div>
          <br><br>

          <h3>Blocks</h3>
          <hr>
          <div class="p">
            <h5>.brush-box</h5>
            <div class="brush-box">
              <div class="brush-box__inner">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam minima accusantium quas maxime at, provident, dicta nam, exercitationem cupiditate repellat voluptate veniam. Magnam, sequi sint. Iure non doloribus aliquid optio.
              </div>
            </div>
          </div>
          <div class="p">
            <h5>.brush-box.brush-box_light-green</h5>
            <div class="brush-box brush-box_light-green">
              <div class="brush-box__inner">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam minima accusantium quas maxime at, provident, dicta nam, exercitationem cupiditate repellat voluptate veniam. Magnam, sequi sint. Iure non doloribus aliquid optio.
              </div>
            </div>
          </div>
          <div class="p">
            <h5>.gray-box</h5>
            <div class="gray-box">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos amet laudantium consectetur suscipit possimus, voluptate ullam, non corrupti quia rem recusandae maxime dolore perferendis enim cumque in, obcaecati blanditiis eaque?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import markNotEmpty from '../mixins/markNotEmpty';

export default {
  mixins: [markNotEmpty],
  data() {
    return {
      buttonIconHtml: '```<img svg-inline class="svg-icon svg-icon-arrow" src="../img/icons/arrow.svg" />```',
    };
  },
};
</script>

<style scoped>
.p {
  margin-bottom: 20px;
}
.wrapper {
  padding-bottom: 200px;
}
hr {
  margin-top: 10px;
  margin-bottom: 20px;
}
.code {
  padding: 5px;
  background: #000;
  color: #aaa;
  font-family: monospace;
}
</style>
