<template>
  <div class="work">
    <div class="page-header page-header_arrow work__page-header">
      <h1 class="page-header__title">{{ $t('h_work') }}</h1>
      <div class="page-header__text">Lorem ipsum dolor sit amet consectetur </div>
    </div>
    <div class="container main__container work__container">
      <div class="work__main">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto voluptas placeat commodi odit a saepe nesciunt adipisci nemo deleniti atque omnis rem sapiente quia ex quo, nobis doloremque velit provident!
      </div>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo() {
    return {
      title: this.$t('h_work'),
    };
  },
};
</script>
