<template>
  <div class="landing-offer-contact-form">
    <h4 v-if="success" class="text-success text-center" style="margin-top:150px;">{{ $t('msg_contact_success') }}</h4>
    <div v-else>
      <form @submit.prevent="submit()" class="" novalidate>
        <div class="form-group-material">
          <input type="text" class="form-control-material" v-model="$v.formData.name.$model" id="input-name"
            :disabled="loading" @focus="$v.formData.name.$reset(); clearResult();"
            @blur="$v.formData.name.$touch()">
          <b-tooltip :show="!$v.formData.name.required && $v.formData.name.$error"
            target="input-name" triggers="manual" placement="bottom"
            custom-class="form-error-tooltip">{{ $t('err_required') }}</b-tooltip>
          <span class="bar-material"></span>
          <label for="input-name" class="">
            {{ $t('lbl_your_name') }} *
          </label>
        </div>
        <div class="form-group-material">
          <input type="text" class="form-control-material" v-model="$v.formData.phone.$model"
            id="input-phone" :disabled="loading" @focus="$v.formData.phone.$reset(); clearResult();"
            @blur="$v.formData.phone.$touch()">
          <b-tooltip :show="!$v.formData.phone.required && $v.formData.phone.$error"
            target="input-phone" triggers="manual" placement="bottom"
            custom-class="form-error-tooltip">{{ $t('err_required') }}</b-tooltip>
          <span class="bar-material"></span>
          <label for="input-phone" class="">
            {{ $t('lbl_phone') }} *
          </label>
        </div>
        <div class="form-group-material">
          <input type="email" class="form-control-material" v-model="$v.formData.email.$model"
            id="input-email" :disabled="loading" @focus="$v.formData.email.$reset(); clearResult();"
            @blur="$v.formData.email.$touch()">
          <b-tooltip :show="!$v.formData.email.required && $v.formData.email.$error"
            target="input-email" triggers="manual" placement="bottom"
            custom-class="form-error-tooltip">{{ $t('err_required') }}</b-tooltip>
          <b-tooltip
            :show="$v.formData.email.required && !$v.formData.email.email && $v.formData.email.$error"
            target="input-email" triggers="manual" placement="bottom"
            custom-class="form-error-tooltip">{{ $t('err_email_format') }}</b-tooltip>
          <span class="bar-material"></span>
          <label for="input-email" class="">
            {{ $t('lbl_email') }} *
          </label>
        </div>
        <div class="form-group-material">
          <input type="text" class="form-control-material" v-model="$v.formData.url.$model" id="input-url" :disabled="loading" @focus="$v.formData.url.$reset(); clearResult();" @blur="$v.formData.url.$touch()">
          <span class="bar-material"></span>
          <label for="input-url" class="">
            {{ $t('lbl_website') }}
            <span class="text-muted d-md-none">({{ $t('not_required_short') }})</span>
          </label>
        </div>
        <div class="form-group-material">
          <textarea class="form-control-material"
            v-model="$v.formData.message.$model"
            id="input-message"
            :disabled="loading"
            @focus="$v.formData.message.$reset(); clearResult();"
            @blur="$v.formData.message.$touch()"
            @input="mixin_autoResize_resize"
          ></textarea>
          <span class="bar-material"></span>
          <label for="input-message" class="">
            {{ $t('lbl_message') }}
            <span class="text-muted d-md-none">({{ $t('not_required_short') }})</span>
          </label>
        </div>
        <div class="form-group mb-3">
          <div class="input-group-file">
            <div class="btn btn-link input-file-btn">
              <b-form-file id="input-attachment" v-model="$v.formData.attachment.$model" plain>
              </b-form-file>
              {{ $t('b_attach_file') }}
            </div>
            <div class="input-file-chosen">
              <div class="input-file-name">{{formData.attachment && formData.attachment.name}}</div>
              <a v-if="formData.attachment" href="#" class="text-danger small"
                @click.prevent="$v.formData.attachment.$model = null;">{{ $t('b_delete') }}</a>
            </div>
          </div>
          <b-tooltip :show="!$v.formData.attachment.fileSize && $v.formData.attachment.$error"
            target="input-attachment" triggers="manual" placement="bottom"
            custom-class="form-error-tooltip">{{ $t('err_file_size', {size: 10}) }}</b-tooltip>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" v-model="$v.formData.agree.$model" id="input-agree" :disabled="loading" @focus="$v.formData.agree.$reset()" @blur="$v.formData.agree.$touch()">
            <b-tooltip
              :show="!$v.formData.agree.true && $v.formData.agree.$error"
              target="input-agree"
              triggers="manual"
              placement="bottom"
              custom-class="form-error-tooltip"
            >{{ $t('err_agree_privacy_required') }}</b-tooltip>
            <label class="form-check-label" for="input-agree">
              <i18n path="lbl_agree_privacy">
                <template #link>
                  <router-link class="" to="/policies/privacy" target="_blank">{{ $t('lbl_agree_privacy_link') }}</router-link>
                </template>
              </i18n>
            </label>
          </div>
        </div>
        <div class="form-group form-group-mt">
          <button type="submit" id="submit-button" class="btn btn-primary btn-block btn-shadow"
            :class="{'overlay-loader': loading}" :disabled="loading">{{ $t('b_send_request') }}<img svg-inline class="btn-icon-last svg-icon svg-icon-arrow" src="../img/icons/arrow.svg" /></button>
          <b-tooltip :show="!!resultError" target="submit-button" triggers="manual"
            placement="bottom" custom-class="form-error-tooltip">{{ resultError }}
          </b-tooltip>
        </div>
      </form>
      <div class="text-muted small">
        * {{ $t('required_fields') }}
      </div>
    </div>
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators';
import { fileSize } from '../common/validators';
import { getApiUrl } from '../common/api';
import autoResize from '../mixins/autoResize';
import markNotEmpty from '../mixins/markNotEmpty';

export default {
  mixins: [autoResize, markNotEmpty],
  data() {
    return {
      formData: {
        name: '',
        phone: '',
        email: '',
        url: '',
        message: this.$t('hello'),
        attachment: null,
        agree: '',
      },
      loading: false,
      success: false,
      errors: {},
    };
  },
  computed: {
    resultError() {
      return this.errors && Object.keys(this.errors).reduce((key, current) => key || (Array.isArray(this.errors[current]) ? this.errors[current][0] : this.errors[current]), null);
    },
  },
  validations: {
    formData: {
      name: {
        required,
      },
      phone: {
        required,
      },
      email: {
        required,
        email,
      },
      url: {

      },
      message: {

      },
      attachment: {
        filesize: fileSize(10 * 1024 * 1024),
      },
      agree: {
        true: value => !!value,
      },
    },
  },
  methods: {
    async submit() {
      this.$v.formData.$touch();
      if (!this.$v.$invalid) {
        this.loading = true;
        const formData = new FormData();
        Object.keys(this.formData).forEach((i) => {
          formData.append(i, this.formData[i]);
        });
        const response = await this.$http.post(getApiUrl('contact'), formData);
        ({ success: this.success, errors: this.errors } = response.data);
        this.loading = false;
      }
    },
    clearResult() {
      this.success = false;
      this.errors = {};
    },
  },
};
</script>
