<template>
  <span class="currency">
    {{this.numberFormatted}}
  </span>
</template>

<script>
import { formatCurrency } from '../common/currency';

export default {
  props: {
    number: Number,
    currency: String,
    locale: String,
  },
  computed: {
    numberFormatted() {
      return formatCurrency(this.number, this.currency, this.locale);
    },
  },
};
</script>
