<template>
  <div>
    <div class="custom-table-scroll-wrap">
      <div class="container custom-table-scroll-container">
        <table class="custom-table" :class="{'overlay-loader': loading}">
          <tr class="custom-table__thead">
            <th>{{ $t('payment_date') }}</th>
            <th class="text-right">{{ $t('client_id') }}</th>
            <th class="text-right">{{ $t('payment_total') }}</th>
            <th class="text-right">{{ $t('partner_fee') }}</th>
            <th class="text-right">{{ $t('partner_total') }}</th>
          </tr>
          <template v-for="r in results">
            <tr class="custom-table__row" :key="r.id">
              <td :data-label="$t('payment_date')">
                {{ formatDayMonth(r.created_at) }}
              </td>
              <td class="text-right" :data-label="$t('client_id')">
                {{ r.client_id }}
              </td>
              <td class="text-right" :data-label="$t('payment_total')">
                <Currency :number="r.cvt_total" :currency="r.cvt_currency" :locale="$store.getters.locale" />
              </td>
              <td class="text-right" :data-label="$t('partner_fee')">
                {{ 100 - r.service_fee }}%
              </td>
              <td class="text-right" :data-label="$t('partner_total')">
                <Currency :number="r.cvt_partner_total" :currency="r.cvt_currency" :locale="$store.getters.locale" />
              </td>
            </tr>
          </template>
        </table>
      </div>
    </div>

    <div class="pages-info partner-billing__pages-info">
      <div class="pages-info__total">
        {{ $t('page_summary', {
          count: this.results.length,
          totalCount: this.totalCount,
        }) }}
      </div>
      <div class="pages-info__per-page">
        {{ $t('per_page') }}
        <ul>
          <li v-for="(perPage, index) in perPageSizes" :key="index">
            <a href="#" @click.prevent="pages.perPage = perPage" v-if="perPage != pages.perPage">{{ perPage }}</a>
            <span v-else>{{ perPage }}</span>
          </li>
        </ul>
      </div>
    </div>

    <b-pagination-nav
      v-if="pageCount > 1"
      v-model="pages.currentPage"
      :number-of-pages="pageCount"
      :limit="4"
      :link-gen="() => ''"
      :last-number="true"
      :first-number="true"
    ></b-pagination-nav>
  </div>
</template>

<script>
import Currency from './Currency.vue';
import { formatDayMonth } from '../common/date';
import { getApiUrl } from '../common/api';

export default {
  props: {
    invoice_id: Number,
    last_payments: Boolean,
  },
  components: { Currency },
  data() {
    return {
      loading: false,
      perPageSizes: [20, 100, 200],
      results: [],
      pages: {
        currentPage: 1,
        perPage: 20,
        sort: '',
      },
      pageCount: 1,
      totalCount: 0,
    };
  },
  watch: {
    pages: {
      immediate: true,
      deep: true,
      handler() {
        this.loadPage();
      },
    },
  },
  methods: {
    formatDayMonth,
    filter() {
      const f = {};
      if (this.invoice_id) {
        f.invoice_id = this.invoice_id;
      }
      if (this.last_payments) {
        f.last_payments = 1;
      }
      return f;
    },
    loadPage() {
      this.loading = true;
      if (this.results.length > 0) {
        this.$el.scrollIntoView(true, { behavior: 'smooth' });
      }
      this.$http
        .get(getApiUrl('partnerOperation'), {
          params: {
            page: this.pages.currentPage,
            'per-page': this.pages.perPage,
            sort: this.pages.sort,
            filter: this.filter(),
          },
        })
        .then((response) => {
          this.results = response.data;
          this.pageCount = parseInt(response.headers['x-pagination-page-count'], 10);
          this.totalCount = parseInt(response.headers['x-pagination-total-count'], 10);
          return true;
        })
        .finally(() => { this.loading = false; });
    },
  },
};
</script>
