<template>
  <div class="partner-invoices">
    <table class="custom-table partner-invoices__custom-table" :class="{'overlay-loader': loading}">
      <tr class="custom-table__thead partner-invoices__custom-table-thead">
        <th>{{ $t('period') }}</th>
        <th class="text-right" @click="setSummSort(pages.sort == 'total')">{{ $t('total') }}</th>
        <th class="text-right" @click="setStatusSort(pages.sort == 'status')">{{ $t('status') }}</th>
      </tr>
      <tbody>
        <template v-for="(invoice, i) in invoices">
          <tr class="custom-table__row custom-table__row_header partner-invoices__custom-table-row-header" v-if="!invoices[i-1] || formatYear(invoices[i-1].start_date) != formatYear(invoice.start_date)" :key="invoice.id+'_year'">
            <td colspan="3">{{ formatYear(invoice.start_date) }}</td>
          </tr>
          <tr class="custom-table__row partner-invoices__custom-table-row" :key="invoice.id">
            <td :data-label="$t('period')">
              <router-link class="btn btn-link partner-invoices__custom-table-link" :to="{ name: 'partner-invoice-details', params: { id: invoice.id }}">
                {{ formatDayMonth(invoice.start_date) }} - {{ formatDayMonth(invoice.end_date) }}
              </router-link>
            </td>
            <td class="text-right" :data-label="$t('total')">
              <Currency :number="invoice.total" :currency="invoice.currency"
                :locale="$store.getters.locale" />
            </td>
            <td class="text-right" :data-label="$t('status')">
              <template v-if="invoice.status == 1">
                <span class="text-muted">{{ $t('not_paid') }}</span>
              </template>
              <template v-else-if="invoice.status == 2">
                <i class="icon-success icon-10 mr-2 mb-1"></i>
                <span class="text-success">{{ $t('paid') }}</span>
              </template>
            </td>
          </tr>
        </template>
      </tbody>
    </table>

    <div class="pages-info partner-invoices__pages-info">
      <div class="pages-info__total">
        {{ $t('page_summary_invoice', {
          count: this.invoices.length,
          totalCount: this.totalCount,
        }) }}
      </div>
      <div class="pages-info__per-page">
        {{ $t('per_page') }}
        <ul>
          <li v-for="(perPage, index) in perPageSizes" :key="index">
            <a href="#" @click.prevent="pages.perPage = perPage" v-if="perPage != pages.perPage">{{ perPage }}</a>
            <span v-else>{{ perPage }}</span>
          </li>
        </ul>
      </div>
    </div>

    <b-pagination-nav
      v-if="pageCount > 1"
      v-model="pages.currentPage"
      :number-of-pages="pageCount"
      :limit="4"
      :link-gen="() => ''"
      :last-number="true"
      :first-number="true"
    ></b-pagination-nav>
  </div>
</template>

<script>
import Currency from './Currency.vue';
import { formatDayMonth, formatYear } from '../common/date';
import { getApiUrl } from '../common/api';

export default {
  components: { Currency },
  data() {
    return {
      loading: false,
      perPageSizes: [20, 100, 200],
      invoices: [],
      pages: {
        currentPage: 1,
        perPage: 20,
        sort: '',
      },
      pageCount: 1,
      totalCount: 0,
    };
  },
  watch: {
    pages: {
      immediate: true,
      deep: true,
      handler() {
        this.loadPage();
      },
    },
  },
  methods: {
    formatDayMonth,
    formatYear,
    setSummSort(asc) {
      this.pages.sort = asc ? '-total' : 'total';
    },
    setStatusSort(asc) {
      this.pages.sort = asc ? '-status' : 'status';
    },
    loadPage() {
      this.loading = true;
      if (this.invoices.length > 0) {
        this.$el.scrollIntoView(true, { behavior: 'smooth' });
      }
      this.$http
        .get(getApiUrl('partnerInvoice'), { params: { page: this.pages.currentPage, 'per-page': this.pages.perPage, sort: this.pages.sort } })
        .then((response) => {
          this.invoices = response.data;
          // this.currentPage = parseInt(response.headers['x-pagination-current-page'], 10);
          // this.perPage = parseInt(response.headers['x-pagination-per-page'], 10);
          this.pageCount = parseInt(response.headers['x-pagination-page-count'], 10);
          this.totalCount = parseInt(response.headers['x-pagination-total-count'], 10);
          return true;
        })
        .finally(() => { this.loading = false; });
    },
  },
};
</script>
