<template>
  <div class="rating">
    <div class="rating__stars">
      <div v-for="n in 5" :key="n" class="rating__star" :class="{
        'rating__star_full': n <= fullStars,
        'rating__star_half': n > fullStars && n <= fullStars + halfStars
      }"></div>
    </div>
    <div class="rating__voted" v-if="voted > 0">{{voted}}</div>
  </div>
</template>

<script>
import { formatCurrency } from '../common/currency';

export default {
  props: {
    value: Number,
    voted: Number,
  },
  computed: {
    fullStars() {
      return this.value - (this.value % 1);
    },
    halfStars() {
      return Math.floor((this.value - this.fullStars) / 0.5);
    },
    emptyStars() {
      return Math.max(5 - this.fullStars - this.halfStars, 0);
    },
  },
};
</script>
