<template>
<span class="time-ago">
    {{timeFormatted}}
</span>
</template>

<script>
import { format, formatDistanceStrict, differenceInDays, fromUnixTime, addSeconds, subSeconds, isBefore } from 'date-fns';
import { ru, en, tr, es, pt, de, fr, id, pl } from 'date-fns/locale';

const locales = { ru, en, tr, es, pt, de, fr, id, pl };

export default {
  data() {
    return {
      start: new Date(),
      end: null,
      localeAbridged: null,
    };
  },
  computed: {
    timeFormatted() {
      const locale = locales[this.localeAbridged];
      if (differenceInDays(this.end, this.start) < 10) {
        return formatDistanceStrict(this.start, this.end, {
          locale,
          //   addSuffix: true,
        });
      }
      return format(this.start, 'PP', { locale });
    },
  },
  props: ['time', 'locale', 'timer'],
  created() {
    this.end = fromUnixTime(this.time);
    this.localeAbridged = this.locale.substr(0, 2);
    if (this.timer) {
      const interval = setInterval(() => {
        if (isBefore(this.start, this.end)) {
          this.start = addSeconds(this.start, 1);
        } else {
          this.$emit('timer-end');
          clearInterval(interval);
        }
      }, 1000);
    }
  },
};
</script>
