<template>
  <transition-group name="fade" tag="div" class="toasts main__toasts" appear>
    <div class="toast toasts__item" :class="`toast-${t.variant}`" v-for="(t, i) in $store.getters.toasts" :key="t.id" role="alert" aria-live="assertive" aria-atomic="true">
      <i v-if="!!t.icon" class="toast-icon icon-16" :class="t.icon"></i>
      <component :is="getComponent(t)" />
      <button class="btn btn-icon toast-close" @click="$store.dispatch('hideToast', i)">
        <i class="icon-menu-close icon-16"></i>
      </button>
    </div>
  </transition-group>
</template>

<script>
export default {
  methods: {
    getComponent(toast) {
      return {
        template: `
          <div class="toast-body">
            ${toast.content}
          </div>
        `,
      };
    },
  },
};
</script>
