<template>
  <div class="wrapper">
    <ClientHeader />
    <main class="main">
      <Toasts />
      <router-view></router-view>
    </main>
    <ClientFooter />
  </div>
</template>

<script>
import ClientHeader from './ClientHeader.vue';
import ClientFooter from './ClientFooter.vue';
import Toasts from '../components/Toasts.vue';

export default {
  components: {
    ClientHeader,
    ClientFooter,
    Toasts,
  },
};
</script>
