<template>
  <footer class="landing-ph__footer">
    <div id="landing-ph__footer-container" class="container landing-ph__footer-container">
      <div class="landing-ph__footer-address">
        Компания «БонПлейс». Адрес: г. Москва, ул. Маршала Рыбалко, д. 2 корпус 6, БЦ «Маршал», <span class="text-nowrap">тел. <a href="tel:+74956637272" class="text-muted">+7 495 663-72-72</a></span>
      </div>
      <a href="https://www.instagram.com/bonplace_ru" target="_blank" class="landing-ph__footer-instagram">
        Мы в
        <img class="icon-24" src="../img/icons/social/instagram@2x.png" alt="Instagram">
        Instagram
      </a>
      <div class="landing-ph__footer-links">
        <router-link to="/policies" target="_blank" class="btn btn-link">Правовая информация</router-link>
        <router-link to="/offer" target="_blank" class="btn btn-link">Сервисным компаниям</router-link>
      </div>
      <div class="landing-ph__footer-links">
        <router-link to="/contacts" class="btn btn-link">Контакты</router-link>
        <router-link to="/about" class="btn btn-link">О нас</router-link>
        <router-link to="/work" class="btn btn-link">Как мы работаем</router-link>
        <router-link to="/bonus" class="btn btn-link">Бонусная программа</router-link>
        <router-link to="/faq" class="btn btn-link">Вопросы-Ответы</router-link>
      </div>
    </div>
  </footer>
</template>

<script>
export default {

};
</script>

<style lang="scss">
  #landing-ph__footer-container {
    @media (min-width: 375px) {
      padding-left: 32px;
      padding-right: 32px;
    }
    @media (min-width: 576px) {
      max-width: none;
    }
    @media (min-width: 768px) {
      max-width: none;
    }
    @media (min-width: 992px) {
      max-width: none;
    }
    @media (min-width: 1200px) {
      max-width: 1376px;
    }
  }
</style>
