<template>
    <div>
      <router-link to='/partner' target="_blank" class="notification notification-top landing-ph__enter d-lg-none">
        Вход для сервисов<img svg-inline class="svg-icon svg-icon-arrow ml-1" style="margin-top: -2px;" src="../img/icons/arrow.svg" />
      </router-link>

      <header id="landing-ph__header" class="landing-ph__header">
        <div class="container landing-ph__header-container">
          <a href="/" class="landing-ph__header-logo">
            <img src="../img/logo-text.svg" alt="Bonplace" />
          </a>
          <div class="landing-ph__header-right">
            <router-link to="/ui-kit" class="btn btn-link mr-3 d-none d-sm-inline-block">UI kit</router-link>
            <router-link to="/catalog" class="btn btn-link mr-5 d-none d-sm-inline-block">Все сервисы</router-link>
            <button class="landing-ph__header-btn landing-ph__header-btn-chat btn btn-primary btn-shadow" :class="{'landing-ph__header-btn-fixed': $store.state.ui.sticky}" @click.prevent="openChat()">
              <i class="icon-contact-white icon-26 mr-2"></i>
              Начать чат
            </button>
            <router-link to='/partner' target="_blank" class="landing-ph__header-btn btn btn-outline-primary ml-3 d-none d-lg-inline-block">
              Вход для сервисов
              <img svg-inline class="btn-icon-last svg-icon svg-icon-arrow" src="../img/icons/arrow.svg" />
            </router-link>
          </div>
        </div>
      </header>
    </div>
</template>

<script>
import loadScript from '../common/loadScript';

export default {
  methods: {
    openChat() {
      // eslint-disable-next-line no-undef
      jivo_api.open();
    },
  },
  mounted() {
    if (process.env.NODE_ENV === 'production') {
      // eslint-disable-next-line camelcase
      if (typeof jivo_api === 'undefined') {
        loadScript('//code-ya.jivosite.com/widget/T4TTVnuH5Z');
      }
    }
  },
};
</script>

<style lang="scss">
  #landing-ph__header {
    margin-bottom: 28px;
  }
</style>

<style>
  /* jivoside hide buttons */
  .wrap_dfe {
    display: none !important;
  }
  #jvlabelWrap {
    display: none !important;
  }
</style>
