<template>
  <footer class="footer">
    <nav class="footer__menu">
      <a v-if="$store.getters.config.partner_support_url" class="footer__menu-item" :href="$store.getters.config.partner_support_url" target="_blank">{{ $t('b_support_center') }}<i class="icon-external-link icon-12 ml-2"></i></a>
      <a v-if="$store.getters.config.ask_question_url" class="footer__menu-item" :href="$store.getters.config.ask_question_url" target="_blank">{{ $t('b_ask_question') }}<i class="icon-external-link icon-12 ml-2"></i></a>
      <div v-if="!$store.getters.isAuthenticated" class="footer__menu-item flex-grow-1 text-right"><router-link to="/partner/rules">{{ $t('b_service_rules') }}</router-link></div>
    </nav>
  </footer>
</template>

<script>
export default {

};
</script>
