<template>
  <div class="wrapper">
    <PartnerHeader />
    <main class="main">
      <Toasts />
      <router-view></router-view>
    </main>
    <PartnerFooter />
  </div>
</template>

<script>
import PartnerHeader from './PartnerHeader.vue';
import PartnerFooter from './PartnerFooter.vue';
import Toasts from '../components/Toasts.vue';

export default {
  components: {
    PartnerHeader,
    PartnerFooter,
    Toasts,
  },
};
</script>
