<template>
  <div v-if="$store.getters.isAuthenticated">
    <header class="header">
      <router-link class="header__logo" to="/partner">
        <img src="../img/logo.svg" alt="Bonplace">
      </router-link>
      <nav class="header__menu">
        <router-link class="header__menu-item d-none d-sm-flex" to="/partner/desktop">{{ $t('b_desktop') }}</router-link>
        <router-link class="header__menu-item d-none d-sm-flex" to="/partner/billing">{{ $t('b_billing') }}</router-link>
        <router-link class="header__menu-item d-none d-sm-flex" to="/partner/profile">{{ $t('b_profile') }}</router-link>
        <!-- <router-link class="header__menu-item-icon d-lg-none" to="/">
          <i class="icon-notifications icon-26"></i>
        </router-link> -->
        <button class="btn btn-icon d-sm-none" @click="$store.commit('showSidebar')" v-if="!$store.state.ui.sidebar">
          <i class="icon-menu icon-26"></i>
        </button>
        <button class="btn btn-icon d-sm-none" @click="$store.commit('hideSidebar')" v-if="$store.state.ui.sidebar">
          <i class="icon-menu-close icon-26"></i>
        </button>
      </nav>
    </header>
    <transition name="slide">
      <div class="sidebar sidebar_right" v-if="$store.state.ui.sidebar">
        <div class="mb-3">
          <router-link class="btn btn-link" to="/partner/desktop">{{ $t('b_desktop') }}</router-link>
        </div>
        <div class="mb-3">
          <router-link class="btn btn-link" to="/partner/billing">{{ $t('b_billing') }}</router-link>
        </div>
        <div class="mb-3">
          <router-link class="btn btn-link" to="/partner/profile">{{ $t('b_profile') }}</router-link>
        </div>
      </div>
    </transition>
    <div class="sidebar-overlay" v-if="$store.state.ui.sidebar" @click="$store.commit('hideSidebar')"></div>
  </div>
  <div v-else>
    <header class="header">
      <router-link class="header__logo" to="/partner">
        <img src="../img/logo.svg" alt="Bonplace">
      </router-link>
      <nav class="header__menu2">
        <div class="header__menu2-item"><router-link to="/partner/auth/login">{{ $t('b_partner_sign_in') }}</router-link></div>
      </nav>
    </header>
  </div>
</template>

<script>
export default {

};
</script>
