<template>
  <div class="partner-auth">
    <div class="container main__container partner-auth__container">
      <div class="partner-auth__container-inner">
        <router-link to="/partner/auth/login" replace>
          <img src="@/img/logo-text.svg" alt="Bonplace" class="partner-auth__logo" />
        </router-link>
        <div class="partner-auth__back">
          <router-link to="/partner/auth/login" class="btn btn-link">
            <img svg-inline class="btn-icon-first svg-icon svg-icon-arrow icon-flip" src="@/img/icons/arrow.svg" />{{ $t('b_sign_in') }}
          </router-link>
        </div>
        <h2>{{ $t('h_reset_password') }}</h2>
        <p>{{ $t('txt_reset_password') }}</p>
        <hr />
        <div v-if="requestSent" class="alert alert-success">{{ $t('msg_reset_password_success', {email: formData.email}) }}</div>
        <form v-else @submit.prevent="send()" class="partner-auth__form" novalidate>
          <div class="form-group row">
            <label for="input-email" class="col-sm-5 col-form-label">{{ $t('lbl_enter_email') }}</label>
            <div class="col-sm-7">
              <input type="email" v-model="$v.formData.email.$model" class="form-control" :placeholder="$t('email')" id="input-email" :disabled="loading" @focus="$v.formData.email.$reset(); clearResult();" @blur="$v.formData.email.$touch()">
              <b-tooltip
                :show="!$v.formData.email.required && $v.formData.email.$error"
                target="input-email"
                triggers="manual"
                placement="bottom"
                custom-class="form-error-tooltip"
              >{{ $t('err_required') }}</b-tooltip>
              <b-tooltip
                :show="$v.formData.email.required && !$v.formData.email.email && $v.formData.email.$error"
                target="input-email"
                triggers="manual"
                placement="bottom"
                custom-class="form-error-tooltip"
              >{{ $t('err_email_format') }}</b-tooltip>
            </div>
          </div>
          <div class="form-group form-group-mt row">
            <div class="offset-sm-5 col-sm-7">
              <button type="submit" id="submit-button" class="btn btn-primary btn-block"
                :class="{'overlay-loader': loading}"
                :disabled="loading"
              >{{ $t('b_reset_password') }}</button>
              <b-tooltip
                :show="!!resultError"
                target="submit-button"
                triggers="manual"
                placement="bottom"
                custom-class="form-error-tooltip"
              >{{ resultError }}</b-tooltip>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators';

export default {
  metaInfo() {
    return {
      title: this.$t('h_reset_password'),
    };
  },
  data() {
    return {
      formData: {
        email: '',
      },
      requestSent: false,
      loading: false,
      success: false,
      errors: {},
    };
  },
  computed: {
    resultError() {
      return this.errors && Object.keys(this.errors).reduce((key, current) => key || (Array.isArray(this.errors[current]) ? this.errors[current][0] : this.errors[current]), null);
    },
  },
  validations: {
    formData: {
      email: {
        required,
        email,
      },
    },
  },
  methods: {
    async send() {
      this.$v.formData.$touch();
      if (!this.$v.$invalid) {
        this.loading = true;
        ({ success: this.success, errors: this.errors } = await this.$store.dispatch('passwordReset', this.formData));
        this.loading = false;
        this.requestSent = this.success;
      }
    },
    clearResult() {
      this.success = false;
      this.errors = {};
    },
  },
};
</script>
