<template>
  <div class="partner-auth">
    <div class="container main__container partner-auth__container">
      <div class="partner-auth__container-inner">
        <router-link to="/partner/auth/login">
          <img src="@/img/logo-text.svg" alt="Bonplace" class="partner-auth__logo" />
        </router-link>
        <div class="partner-auth__back">
          <router-link to="/partner/auth/login" class="btn btn-link">
            <img svg-inline class="btn-icon-first svg-icon svg-icon-arrow icon-flip" src="@/img/icons/arrow.svg" />{{ $t('b_sign_in') }}
          </router-link>
        </div>
        <h2>{{ $t('h_new_password') }}</h2>
        <p>{{ $t('txt_new_password') }}</p>
        <hr />
        <div v-if="errors && errors.token" class="alert alert-warning">
          {{ errors.token[0] }}
          <br />
          <router-link to="/partner/auth/password-reset" class="btn btn-link">{{ $t('b_reset_password') }}</router-link>
        </div>
        <form v-else @submit.prevent="setNewPassword()" class="partner-auth__form" novalidate>
          <div class="form-group row">
            <label for="input-password" class="col-sm-5 col-form-label">{{ $t('lbl_new_password') }}</label>
            <div class="col-sm-6">
              <input type="password" v-model="$v.formData.password.$model" class="form-control" :placeholder="$t('new_password')" id="input-password" :disabled="loading" @focus="$v.formData.password.$reset(); clearResult();" @blur="$v.formData.password.$touch()">
              <b-tooltip
                :show="!$v.formData.password.required && $v.formData.password.$error"
                target="input-password"
                triggers="manual"
                placement="bottom"
                custom-class="form-error-tooltip"
              >{{ $t('err_required') }}</b-tooltip>
              <b-tooltip
                :show="$v.formData.password.required && !$v.formData.password.format && $v.formData.password.$error"
                target="input-password"
                triggers="manual"
                placement="bottom"
                custom-class="form-error-tooltip"
              >{{ $t('err_password_format') }}</b-tooltip>
            </div>
            <div class="offset-sm-5 col-sm-7 form-comment">{{ $t('txt_password_requirements') }}</div>
          </div>
          <div class="form-group row">
            <label for="input-password-repeat" class="col-sm-5 col-form-label">{{ $t('lbl_new_password_repeat') }}</label>
            <div class="col-sm-6">
              <input type="password" v-model="$v.formData.passwordRepeat.$model" class="form-control" :placeholder="$t('new_password_repeat')" id="input-password-repeat" :disabled="loading" @focus="$v.formData.passwordRepeat.$reset(); clearResult();" @blur="$v.formData.passwordRepeat.$touch()">
              <b-tooltip
                :show="!$v.formData.passwordRepeat.sameAs && $v.formData.passwordRepeat.$error"
                target="input-password-repeat"
                triggers="manual"
                placement="bottom"
                custom-class="form-error-tooltip"
              >{{ $t('err_password_repeat') }}</b-tooltip>
            </div>
          </div>
          <div class="form-group form-group-mt row">
            <div class="offset-sm-5 col-sm-6">
              <button type="submit" id="submit-button" class="btn btn-primary btn-block"
                :class="{'overlay-loader': loading}"
                :disabled="loading"
              >{{ $t('b_save_new_password') }}</button>
              <b-tooltip
                :show="!!resultError"
                target="submit-button"
                triggers="manual"
                placement="bottom"
                custom-class="form-error-tooltip"
              >{{ resultError }}</b-tooltip>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { required, sameAs } from 'vuelidate/lib/validators';
import { password } from '../../common/validators';

export default {
  metaInfo() {
    return {
      title: this.$t('h_new_password'),
    };
  },
  data() {
    return {
      formData: {
        password: '',
        passwordRepeat: '',
        token: '',
      },
      loading: false,
      success: false,
      errors: {},
    };
  },
  computed: {
    resultError() {
      return this.errors && Object.keys(this.errors).reduce((key, current) => key || (Array.isArray(this.errors[current]) ? this.errors[current][0] : this.errors[current]), null);
    },
  },
  validations: {
    formData: {
      password: {
        required,
        format: password,
      },
      passwordRepeat: {
        sameAs: sameAs('password'),
      },
    },
  },
  created() {
    this.formData.token = this.$route.params.resetToken;
  },
  methods: {
    async setNewPassword() {
      this.$v.formData.$touch();
      if (!this.$v.$invalid) {
        this.loading = true;
        let token;
        ({ success: this.success, errors: this.errors, access_token: token } = await this.$store.dispatch('setNewPassword', this.formData));
        this.loading = false;
        if (this.success) {
          this.$store.dispatch('showToast', {
            content: this.$t('msg_password_updated'),
            variant: 'success',
            icon: 'icon-ok',
          });
          await this.$store.dispatch('loginAccessToken', token);
          if (this.$store.getters.isAuthenticated) {
            await this.$router.push({ path: '/partner' });
          } else {
            await this.$router.push({ path: '/partner/auth/login' });
          }
        }
      }
    },
    clearResult() {
      this.success = false;
      this.errors = {};
    },
  },
};
</script>
