<template>
  <div class="partner-auth">
    <div class="container main__container partner-auth__container">
      <div class="partner-auth__container-inner">
        <a :href="$router.resolve({path: '/partner/auth/login'}).href">
          <img src="@/img/logo-text.svg" alt="Bonplace" class="partner-auth__logo" />
        </a>
        <h2>{{ $t('h_partner_sign_in') }}</h2>
        <hr />
        <div v-if="errors && errors.ip" class="alert alert-danger">{{ $t('msg_ip_blocked_error') }}</div>
        <form v-else @submit.prevent="logIn()" class="partner-auth__form" novalidate>
          <div class="form-group row">
            <label for="input-email" class="col-sm-5 col-form-label">{{ $t('lbl_enter_email') }}</label>
            <div class="col-sm-7">
              <input type="email" v-model="$v.formData.email.$model" class="form-control" :placeholder="$t('email')" id="input-email" :disabled="loading" @focus="$v.formData.email.$reset(); clearResult();" @blur="$v.formData.email.$touch()">
              <b-tooltip
                :show="!$v.formData.email.required && $v.formData.email.$error"
                target="input-email"
                triggers="manual"
                placement="bottom"
                custom-class="form-error-tooltip"
              >{{ $t('err_required') }}</b-tooltip>
              <b-tooltip
                :show="$v.formData.email.required && !$v.formData.email.email && $v.formData.email.$error"
                target="input-email"
                triggers="manual"
                placement="bottom"
                custom-class="form-error-tooltip"
              >{{ $t('err_email_format') }}</b-tooltip>
            </div>
          </div>
          <div class="form-group row">
            <label for="input-password" class="col-sm-5 col-form-label">{{ $t('lbl_password') }}</label>
            <div class="col-sm-7">
              <input type="password" v-model="$v.formData.password.$model" class="form-control" :placeholder="$t('password')" id="input-password" :disabled="loading" @focus="$v.formData.password.$reset(); clearResult();" @blur="$v.formData.password.$touch()">
              <b-tooltip
                :show="!$v.formData.password.required && $v.formData.password.$error"
                target="input-password"
                triggers="manual"
                placement="bottom"
                custom-class="form-error-tooltip"
              >{{ $t('err_required') }}</b-tooltip>
            </div>
          </div>
          <div class="form-group row mb-4">
            <div class="offset-sm-5 col-sm-7">
              <router-link class="btn btn-link" to="/partner/auth/password-reset">{{ $t('b_forgot_password') }}</router-link>
            </div>
          </div>
          <div class="form-group row mb-4">
            <div class="offset-sm-5 col-sm-7">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" v-model="$v.formData.agree.$model" id="input-agree" :disabled="loading" @focus="$v.formData.agree.$reset()" @blur="$v.formData.agree.$touch()">
                <b-tooltip
                  :show="!$v.formData.agree.true && $v.formData.agree.$error"
                  target="input-agree"
                  triggers="manual"
                  placement="bottom"
                  custom-class="form-error-tooltip"
                >{{ $t('err_agree_required') }}</b-tooltip>
                <label class="form-check-label" for="input-agree">
                  <i18n path="lbl_agree_offer">
                    <template #link>
                      <router-link class="btn btn-link" to="/partner/rules" target="_blank">{{ $t('lbl_agree_offer_link') }}</router-link>
                    </template>
                  </i18n>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-5 col-sm-7">
              <div id="input-recaptcha" class="float-left">
                <vue-recaptcha
                  ref="recaptcha"
                  :sitekey="$config.recaptchaKey"
                  :loadRecaptchaScript="true"
                  @verify="$v.formData.recaptcha.$model = $event"
                  @error="resetRecaptcha(false)"
                  @expired="resetRecaptcha()"
                />
              </div>
              <b-tooltip
                :show="!$v.formData.recaptcha.verified && $v.formData.recaptcha.$error"
                target="input-recaptcha"
                triggers="manual"
                placement="bottom"
                custom-class="form-error-tooltip"
              >{{ $t('err_recaptcha_required') }}</b-tooltip>
            </div>
          </div>
          <div class="form-group form-group-mt row">
            <div class="offset-sm-5 col-sm-7">
              <button type="submit"
                id="submit-button"
                class="btn btn-primary btn-block"
                :class="{'overlay-loader': loading}"
                :disabled="loading"
              >{{ $t('b_sign_in') }}</button>
              <b-tooltip
                :show="!!resultError"
                target="submit-button"
                triggers="manual"
                placement="bottom"
                custom-class="form-error-tooltip"
              >{{ resultError }}</b-tooltip>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators';
import VueRecaptcha from 'vue-recaptcha';

export default {
  metaInfo() {
    return {
      title: this.$t('h_partner_sign_in'),
    };
  },
  data() {
    return {
      formData: {
        email: '',
        password: '',
        agree: '',
        recaptcha: '',
      },
      loading: false,
      success: false,
      errors: {},
    };
  },
  computed: {
    resultError() {
      return this.errors && Object.keys(this.errors).reduce((key, current) => key || (Array.isArray(this.errors[current]) ? this.errors[current][0] : this.errors[current]), null);
    },
  },
  validations: {
    formData: {
      email: {
        required,
        email,
      },
      password: {
        required,
      },
      agree: {
        true: value => !!value,
      },
      recaptcha: {
        verified: value => !!value,
      },
    },
  },
  methods: {
    async logIn() {
      this.$v.formData.$touch();
      if (!this.$v.$invalid) {
        this.loading = true;
        ({ success: this.success, errors: this.errors } = await this.$store.dispatch('login', this.formData));
        this.loading = false;
        if (this.$store.getters.isAuthenticated) {
          await this.$router.push(
            this.$route.query.redirect || { path: '/partner' },
          );
        } else if (!this.success) {
          this.resetRecaptcha();
        }
      }
    },
    clearResult() {
      this.success = false;
      this.errors = {};
    },
    resetRecaptcha(rerender = true) {
      this.$v.formData.recaptcha.$model = '';
      this.$v.formData.recaptcha.$reset();
      if (rerender) {
        this.$refs.recaptcha.reset(); // Direct call reset method
      }
    },
  },
  components: {
    VueRecaptcha,
  },
};
</script>
