// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin custom-button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%)) {
  color: color-yiq($background);
  @include gradient-bg($background);
  border-color: $border;
  @include box-shadow($btn-box-shadow);

  @include hover() {
    color: color-yiq($hover-background);
    @include gradient-bg($hover-background);
    border-color: $hover-border;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5);
  }

  &.btn-shadow {
    box-shadow: 0 8px 10px 0 rgba($background,0.2);
    &:focus {
      box-shadow: 0 8px 10px 0 rgba($background,0.2), 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5);
    }
  }
  
  &.btn-shadow-2 {
    box-shadow: 0 8px 20px 0 rgba($background,0.2);
    &:focus {
      box-shadow: 0 8px 20px 0 rgba($background,0.2), 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5);
    }
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: $btn-disabled-color;
    background-color: $btn-disabled-bg;
    border-color: $btn-disabled-border-color;
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: color-yiq($active-background);
    background-color: $active-background;
    border-color: $active-border;
    box-shadow: $btn-active-box-shadow;
    &:focus {
      box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5);
    }
  }

  &.btn-loader {
    border-color: $border;
    color: transparent;
    background-color: mix($background, $white, 6%);
  }
}

@mixin custom-button-outline-variant($color, $color-hover: color-yiq($color), $hover-background: $color, $hover-border: $color, $active-background: $color, $active-border: $color) {
  color: $color;
  border-color: $color;

  @include hover() {
    color: $color-hover;
    background-color: $hover-background;
    border-color: $hover-border;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
  }

  &.btn-shadow {
    box-shadow: 0 8px 20px 0 rgba($color,0.2);
    &:focus {
      box-shadow: 0 8px 20px 0 rgba($color,0.2), 0 0 0 $btn-focus-width rgba($color, .5);
    }
  }

  &.disabled,
  &:disabled {
    color: $btn-disabled-color;
    background-color: $btn-disabled-bg;
    border-color: $btn-disabled-border-color;
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: color-yiq($active-background);
    background-color: $active-background;
    border-color: $active-border;
    box-shadow: $btn-active-box-shadow;
    &:focus {
      box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($color, .5);
    }
  }

  &.btn-loader {
    border-color: $color;
    color: transparent;
    background-color: mix($color, $white, 6%);
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  @include font-size($font-size);
  line-height: $line-height;
  // Manually declare to provide an override to the browser default
  @include border-radius($border-radius, 0);
}
